@model Orbio.Web.UI.Areas.Admin.Models.Catalog.ManufacturerDetailModel

<div role="tabpanel" class="tab-pane" id="products">
    <div class="col-lg-12 protab">
       
            <div class="table-responsive best-seller-table">

                <table id="tableData1" class="table table-bordered table-striped ">
                    <thead>
                        <tr>
                            <th>PRODUCT</th>
                            <th>Is featured product?</th>
                            <th>Dsiplay Order</th>

                            @*<th>VIEW</th>*@
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (this.Model.Products != null)
                        {
                        if (this.Model.Products.Count > 0)
                        {
                            foreach (var item in this.Model.Products)
                            {
                                <tr style="display: table-row;">
                                    <td>@item.Name</td>
                                    <td>@item.IsFeaturedProduct</td>
                                    <td>@item.DisplayOrder</td>
                                    @*<td>View</td>*@
                                    <td>
                                        <label class="edit"></label>
                                        <a href="@Url.Action("DeleteManufacturerProduct", "Catalog", new { Id=Model.Manufacturer.Id,ProductId=@item.Id })"><label class="img_sprite"></label></a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr style="display: table-row;">
                                <td colspan="4"> No products available</td>
                            </tr>
                        }
                        }
                        else
                        {
                            <tr style="display: table-row;">
                                <td colspan="4"> No products available</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="pull-left1"><input type="button" class="but-refresh" onclick="refresh()"></div>
                <div class="pull-right1"><input type="button" value="Add New Product" class="but ssbut "></div>
            </div>
    </div>
</div>