@model Orbio.Web.UI.Models.Catalog.CategoryModel
     <div class="col-sm-10">

      
   <div class="filter_cat">@this.Model.Name @ViewBag.searchkeyword</div>   
       <div class="featured_items"  align="center">
       <ul class="feature_li four_items">
        @{
            foreach(var product in this.Model.Products)
            {
                Html.RenderPartial("ProductThumbNail", product);
            }
        }
    
       </ul>
        <div class="clear"></div>
        <div class="no-product"><span>NO @(this.Model.Products.Count>0?"MORE":"") PRODUCT TO DISPLAY</span></div>
     </div>
   </div>


