@model Orbio.Web.UI.Models.Catalog.ProductDetailModel
@{
    ViewBag.Title = "Product";
}
 @*@Html.Action("PriceBar", "Home")*@
 <section>
    @{
       Html.RenderPartial(this.Model.ViewPath, this.Model); 
    }
</section>





 




<section class="similar_prod">

    <div class="container">
        <div class="similar_slider">
            <h1>SIMLIAR PRODUCTS</h1>
            <div align="left">
                <a data-slide="prev" href="#myCarousel4" class="carousel-control left"></a>
                <a data-slide="next" href="#myCarousel4" class="carousel-control right"></a>
            </div>
        </div>

        <div class="carousel slide" id="myCarousel4">
            <div class="carousel-inner">
                <div class="item active">
                    <ul class="similar">
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div><!-- /Slide1 -->
                <div class="item">
                    <ul class="similar">
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div><!-- /Slide2 -->
                <div class="item">
                    <ul class="similar">
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div><!-- /Slide3 -->
            </div>



        </div><!-- /#myCarousel -->

    </div>

</section>


@*@if(this.Model.ProductReview)*@

@*@{
    Html.RenderPartial("ProductReview", this.Model.ProductReview);
}*@



@section scripts{
<script type="text/javascript">
      $(document).ready(function(){
            $.each($('a[Id^=ProductVariantAttributes_]'), function(){
                    $(this).click(function(){
                        $('#' + $(this).attr('data-Id')).val($(this).attr('data-Val'));
                });
                });
    });
    
</script>


}