@model Orbio.Web.UI.Models.Catalog.ProductDetailModel
@{
    ViewBag.Title = "Product";
}
@*@Html.Action("PriceBar", "Home")*@
<section>
    @{
        Html.RenderPartial(this.Model.ViewPath, this.Model);
    }
</section>










<section class="similar_prod">

    <div class="container">
        <div class="similar_slider">
            <h1>SIMLIAR PRODUCTS</h1>
            <div align="left">
                <a data-slide="prev" href="#myCarousel4" class="carousel-control left"></a>
                <a data-slide="next" href="#myCarousel4" class="carousel-control right"></a>
            </div>
        </div>

        <div class="carousel slide" id="myCarousel4">
            <div class="carousel-inner">
                <div class="item active">
                    <ul class="similar">
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div><!-- /Slide1 -->
                <div class="item">
                    <ul class="similar">
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div><!-- /Slide2 -->
                <div class="item">
                    <ul class="similar">
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div><!-- /Slide3 -->
            </div>



        </div><!-- /#myCarousel -->

    </div>

</section>


<section id="review">
    <div class="container">
        <div class="row">
            <h1 class="review_news">REVIEWS</h1>
            @{
                Html.RenderAction("ProductRating", new { Id = this.Model.Id });
            }
           

            <div class="col-md-3">
                <div class="" align="center">
                    <p>You can help other customers</p>
                    <p class="product_red">Have you used this product?</p>
                    @*<div class="rating" data-rating-max="5">*@
                        <span class="ratingStar" style="margin-left: 22px;">
                            <input type="radio"id = "addproductrating_1" class = "rating-input" />
                            <label for="addproductrating_1" class="rating-star"></label>
                            <input type="radio" id="addproductrating_2" class="rating-input" />
                            <label for="addproductrating_2" class="rating-star"></label>
                            <input type="radio" id="addproductrating_3" class="rating-input" />
                            <label for="addproductrating_3" class="rating-star"></label>
                            <input type="radio" id="addproductrating_4" class="rating-input" />
                            <label for="addproductrating_4" class="rating-star"></label>
                            <input type="radio" id="addproductrating_5" class="rating-input" />
                            <label for="addproductrating_5" class="rating-star"></label>
                        </span>
                    @*</div>*@
                    <div class="clear"></div>
                    <p>Rate this Product!</p>

                    <a href='@Url.Action("Review", "Catalog", new {this.Model.Name,this.Model.SeName })'>
                        <input type="button" class="wrt_rview" value="Write A Review">
                    </a>

                </div>
            </div>

        </div>

        @{
            Html.RenderAction("ProductReview", new { Id = this.Model.Id });
        }

    </div>

</section>


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $.each($('a[Id^=ProductVariantAttributes_]'), function () {
                $(this).click(function () {
                    $('#' + $(this).attr('data-Id')).val($(this).attr('data-Val'));
                });
            });
        });

    </script>
}
