@{
    ViewBag.Title = "Product";
}
 @Html.Action("PriceBar", "Home")
 <section>
       <div class="container">

         <ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Products</a></li>
  <li><a href="#">Mobile & Tablets</a></li>
  <li><a href="#">Lenovo</a></li>
  <li class="active">Mobiles</li>
</ol>




<div class="row">
                
                <div class="col-sm-4">
                 <img src="images/Basic_image/product-zoom.png" class="det_img" >
                </div>

       <div class="col-sm-6">
       <div class="detail_product">
       <h1>Lenovo S860 Dual sim</h1>
       <p>Android V 4.2(Jelly bean) 2GB, 3G</p>
       <div class="det_main"><span class="det_rev"></span>200 Reviews</div>
       </div>


       <ul class="detail_main clearfix">
        <li class="detail_price">
        <div class="detail_disc">
            <p class="detail_discount">
                <s>1599.00</s>(31% Off)
            </p>
            <h1>1,099 AED</h1>
            </div>
            <p class="free_dev">Free Delivery</p>
        </li>
         <li>
             <p><a href="">Write A Review</a></p>
            <i class="review"></i>
         </li>
          <li>
               <p><a href="">Add to Wishlist</a></p>
            <i class="wish_list"></i>
          </li>
          <li>
               <p><a href="">Share a friend</a></p>
            <i class="share_friend"></i>
          </li>
       </ul>
       <div class="clear"></div>

       <div class="detail_mid">
       <dl class="dl-horizontal">
  <dt>COLOR</dt>
  <dd><p>TITANIUM</p> <a class="size_chart1">SIZE GUIDE<img src="images/Basic_image/SizeChart-popup.jpg" class="popup_img"></a></dd>
  <dt>STORAGE</dt>
  <dd><a class="active">16GB</a><a class="">32GB</a><a class="">64GB</a> 


<a class="size_chart">SIZE GUIDE<img src="images/Basic_image/SizeChart-popup.jpg" class="popup_img"></a>
  </dd>

</dl>
</div>


<div class="delivers">
    <ul class="clearfix">
    <li><i class="deliver_icons"></i>Delivers in 1-3 Days </li>
    <li><img src="images/Basic_image/Esybuy-1year-warranty.png" class="warranty"></li>
    <li class="pull-right">Need Help ? Call 800 379 289</li>
    </ul>
</div>

<ul class="Quantity_buy clearfix">
<li>
<select>
<option>Quantity</option>
<option>Quantity</option>
</select>
</li><li>
<input type="submit" value="BUY NOW" class="det_buy"></li>
</ul>

<div class="Product_summary">
<h1>Product Summary</h1>
       <dl class="dl-horizontal">
  <dt>Brand</dt>
  <dd>Lenovo</dd>
  <dt>Screen size</dt>
  <dd>5.3 inch</dd>
  <dt>Network</dt>
  <dd>4G</dd>
  <dt>Processor</dt>
  <dd>Quad-core 1.3 GHZ</dd>
  <dt>Sim Type</dt>
  <dd>Dual Sim</dd>

</dl>

</div>

       </div>


                <div class="col-sm-2">
                <img src="images/Basic_image/Esybuy-description-banner.jpg"  class="det_img" >
                </div>

       </div>

            <div class="row">                
       <div class="col-sm-12">    
<div class="detail_tab">
    <ul id="myTab" class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Description</a></li>
      <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Specification</a></li>
      <li role="presentation"><a href="#image" role="tab" id="image-tab" data-toggle="tab" aria-controls="image">image</a></li>
      <li role="presentation"><a href="#video" role="tab" id="video-tab" data-toggle="tab" aria-controls="video">Videos</a></li>
      <li role="presentation"><a href="#review" role="tab" id="review-tab" data-toggle="tab" aria-controls="review">review</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
        <p><img src="images/Basic_image/Esybuy-description-1.jpg" class="esy_buy" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). </p>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
      

      <div class="row">
      <div class="col-md-10">
      <h2>Technical Specification</h2>
      <table width="100%" cellpadding="0" cellspacing="0" class="descrip">
      <tr>
      <td>
      <table width="100%" cellpadding="0" cellspacing="0" class="specfic_phone">
      <tr>
      <td width="30%" class="table_brd">Model No.</td>
      <td width="70%">Samsung Galaxy S5</td>
      </tr>      
      </table>
      </td>
      </tr>

      <tr>
      <td>
      <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
      <td>
      <h1>Network</h1>
      <table width="100%" cellpadding="0" cellspacing="0" class="specfic_phone">
      <tr>
      <td width="30%" class="table_brd">Model No.</td>
      <td width="70%">Samsung Galaxy S5</td>
      </tr>   
      <tr>
      <td width="30%" class="table_brd">Model No.</td>
      <td width="70%">Samsung Galaxy S5</td>
      </tr>  
      <tr>
      <td width="30%" class="table_brd">Model No.</td>
      <td width="70%">Samsung Galaxy S5</td>
      </tr>  
      <tr>
      <td width="30%" class="table_brd">Model No.</td>
      <td width="70%">Samsung Galaxy S5</td>
      </tr>  
      <tr>
      <td width="30%" class="table_brd">Model No.</td>
      <td width="70%">Samsung Galaxy S5</td>
      </tr>     
      </table>
      </tr>
      </table>
      </td>
      </tr>

      <tr>
      <td>
      <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
      <td>
      <h1>Display</h1>
      <table width="100%" cellpadding="0" cellspacing="0" class="specfic_phone">
      <tr>
      <td width="30%" class="table_brd">Model No.</td>
      <td width="70%">Samsung Galaxy S5</td>
      </tr>   
      <tr>
      <td width="30%" class="table_brd">Model No.</td>
      <td width="70%">Samsung Galaxy S5</td>
      </tr>  
      <tr>
      <td width="30%" class="table_brd">Model No.</td>
      <td width="70%">Samsung Galaxy S5</td>
      </tr>  
      <tr>
      <td width="30%" class="table_brd">Model No.</td>
      <td width="70%">Samsung Galaxy S5</td>
      </tr>  
      <tr>
      <td width="30%" class="table_brd">Model No.</td>
      <td width="70%">Samsung Galaxy S5</td>
      </tr>     
      </table>
      </tr>
      </table>
      </td>
      </tr>

      <tr>
      <td>
      <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
      <td>
      <h1>Media</h1>
      <table width="100%" cellpadding="0" cellspacing="0" class="specfic_phone">
      <tr>
      <td width="30%" class="table_brd">Model No.</td>
      <td width="70%">Samsung Galaxy S5</td>
      </tr>   
      <tr>
      <td width="30%" class="table_brd">Model No.</td>
      <td width="70%">Samsung Galaxy S5</td>
      </tr>  
      <tr>
      <td width="30%" class="table_brd">Model No.</td>
      <td width="70%">Samsung Galaxy S5</td>
      </tr>  
      <tr>
      <td width="30%" class="table_brd">Model No.</td>
      <td width="70%">Samsung Galaxy S5</td>
      </tr>  
      <tr>
      <td width="30%" class="table_brd">Model No.</td>
      <td width="70%">Samsung Galaxy S5</td>
      </tr>     
      </table>
      </tr>
      </table>
      </td>
      </tr>

      </table>
        
        </div>
        <div class="col-md-2">
        
        </div>
        </div>


        
      </div>

      <div role="tabpanel" class="tab-pane fade" id="image" video aria-labelledby="image-tab">
      <h1>Image of the Item</h1>
        <ul>
        <li><img src="images/Thumbnail/Listing-product1.jpg"></li>
        <li><img src="images/Thumbnail/Listing-product2.jpg"></li>
        <li><img src="images/Thumbnail/Listing-product3.jpg"></li>
        </ul>
      </div>

      <div role="tabpanel" class="tab-pane fade" id="video" video aria-labelledby="video-tab">

      <h1>Video for samsung galaxy</h1>
      <div class="row">
      <div class="col-md-5">
      
      <iframe width="430" height="315" src="//www.youtube.com/embed/QrMOu4GU3uU" frameborder="0" allowfullscreen></iframe>

      </div>
      <div class="col-md-7">
        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
        </div>
        </div>

      
      </div>
      <div role="tabpanel" class="tab-pane fade" id="review" video aria-labelledby="review-tab">
        <div class="row">
        <div class="col-md-3">
        <div class="" align="center">
         <i class="big_star"></i>
         <p class="red_no">4.4</p>
         <p>Average Rating</p>
         <p>Based on 94 Rating</p>
        </div>
        </div>

        <div class="col-md-3">
        <ul class="cust_rating">
        <li><p>5 star</p><div class="yell_rat"><img src="images/Basic_image/ratings-5.png"></div><p>(20)</p></li>
        <li><p>4 star</p><div class="yell_rat"><img src="images/Basic_image/ratings-4.png"></div><p>(20)</p></li>
        <li><p>3 star</p><div class="yell_rat"><img src="images/Basic_image/ratings-3.png"></div><p>(20)</p></li>
        <li><p>2 star</p><div class="yell_rat"><img src="images/Basic_image/ratings-2.png"></div><p>(20)</p></li>
        <li><p>1 star</p><div class="yell_rat"><img src="images/Basic_image/ratings-1.png"></div><p>(20)</p></li>
        </ul>
        </div>

        <div class="col-md-3">
        <div class="" align="center">
        <p>You can help other customers</p>
        <p class="product_red">Have you used this product?</p>
        <div class="rating" data-rating-max="5"></div>
        <div class="clear"></div>
        <p>Rate this Product!</p>
        <input type="button" class="wrt_rview" value="Write A Review">
        </div>
        </div>

        </div>

        <div class="row disply_top">
        <div class="display_review">
           <h1>Displaying Top Reviews</h1>
        </div>
        <div class="col-md-12">
        <ul class="comment">
        <li>
        <div class="review_post">
        <h1>Great Battery Life</h1>
        <p>Karthick</p>
        <div class="star_rt"></div>
        </div>
        <div class="review_line">
            disk is compact. loved the metal finish. uploading is a bit slow because of usb 2.0 for uploading. good product but no carrying case is vailable it has to be purchased separately.
        </div>
        </li>
        <li>
        <div class="review_post">
        <h1>Great Battery Life</h1>
        <p>Karthick</p>
        <div class="star_rt"></div>
        </div>
        <div class="review_line">
            disk is compact. loved the metal finish. uploading is a bit slow because of usb 2.0 for uploading. good product but no carrying case is vailable it has to be purchased separately.
        </div>
        </li>
        </ul>
        <div class="prev_nxt"> <a href="">Previous</a>|<a href="#">Next</a></div>
        </div>
        </div>
        
      </div>

      
    </div>
  </div>


</div>
       </div>
       </div>
   </section>





   <section class="similar_product">
<div class="container">
<div class="row">
<div class="col-sm-12">

<div align="left">
<div class="thumbnail_slider"><h1>You may also like</h1>

 <a data-slide="prev" href="#myCarousel4" class="carousel-control left"></a>
            <a data-slide="next" href="#myCarousel4" class="carousel-control right"></a> 
            </div>
</div>    
        
    <div class="carousel slide" id="myCarousel4">
        <div class="carousel-inner">
            <div class="item active">
                    <ul class="feature_li  similar">
                        <li class="col-sm-3">
                        <div class="main_thumb">
                            <div class="thumbnail">
                                <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>                                
                            </div>
                            <div class="caption">
                                <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>                                
                                <div class="detail_list_cart">
                                <ul class="list_cart">
                                <li>
                                <input type="submit" value="" class="add_it_icon"></li><li>
                                <input type="submit" value="" class="save_it_icon"></li><li>
                                <input type="submit" value="" class="share_it_icon"></li></ul>
                                </div>
                                <div class="list_thumb_offer"><s>325.00</s> (66% off) <span>110 AED</span></div>
                            </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                        <div class="main_thumb">
                            <div class="thumbnail">
                                <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>                                
                            </div>
                            <div class="caption">
                                <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>                                
                                <div class="detail_list_cart">
                                <ul class="list_cart">
                                <li>
                                <input type="submit" value="" class="add_it_icon"></li><li>
                                <input type="submit" value="" class="save_it_icon"></li><li>
                                <input type="submit" value="" class="share_it_icon"></li></ul>
                                </div>
                                <div class="list_thumb_offer"><s>325.00</s> (66% off) <span>110 AED</span></div>
                            </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                        <div class="main_thumb">
                            <div class="thumbnail">
                                <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>                                
                            </div>
                            <div class="caption">
                                <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>                                
                                <div class="detail_list_cart">
                                <ul class="list_cart">
                                <li>
                                <input type="submit" value="" class="add_it_icon"></li><li>
                                <input type="submit" value="" class="save_it_icon"></li><li>
                                <input type="submit" value="" class="share_it_icon"></li></ul>
                                </div>
                                <div class="list_thumb_offer"><s>325.00</s> (66% off) <span>110 AED</span></div>
                            </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                        <div class="main_thumb">
                            <div class="thumbnail">
                                <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>                                
                            </div>
                            <div class="caption">
                                <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>                                
                                <div class="detail_list_cart">
                                <ul class="list_cart">
                                <li>
                                <input type="submit" value="" class="add_it_icon"></li><li>
                                <input type="submit" value="" class="save_it_icon"></li><li>
                                <input type="submit" value="" class="share_it_icon"></li></ul>
                                </div>
                                <div class="list_thumb_offer"><s>325.00</s> (66% off) <span>110 AED</span></div>
                            </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                        <div class="main_thumb">
                            <div class="thumbnail">
                                <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>                                
                            </div>
                            <div class="caption">
                                <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>                                
                                <div class="detail_list_cart">
                                <ul class="list_cart">
                                <li>
                                <input type="submit" value="" class="add_it_icon"></li><li>
                                <input type="submit" value="" class="save_it_icon"></li><li>
                                <input type="submit" value="" class="share_it_icon"></li></ul>
                                </div>
                                <div class="list_thumb_offer"><s>325.00</s> (66% off) <span>110 AED</span></div>
                            </div>
                            </div>
                        </li>
                    </ul>
              </div><!-- /Slide1 --> 
            <div class="item">
                    <ul class="feature_li  similar">
                        <li class="col-sm-3">
                        <div class="main_thumb">
                            <div class="thumbnail">
                                <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>                                
                            </div>
                            <div class="caption">
                                <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>                                
                                <div class="detail_list_cart">
                                <ul class="list_cart">
                                <li>
                                <input type="submit" value="" class="add_it_icon"></li><li>
                                <input type="submit" value="" class="save_it_icon"></li><li>
                                <input type="submit" value="" class="share_it_icon"></li></ul>
                                </div>
                                <div class="list_thumb_offer"><s>325.00</s> (66% off) <span>110 AED</span></div>
                            </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                        <div class="main_thumb">
                            <div class="thumbnail">
                                <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>                                
                            </div>
                            <div class="caption">
                                <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>                                
                                <div class="detail_list_cart">
                                <ul class="list_cart">
                                <li>
                                <input type="submit" value="" class="add_it_icon"></li><li>
                                <input type="submit" value="" class="save_it_icon"></li><li>
                                <input type="submit" value="" class="share_it_icon"></li></ul>
                                </div>
                                <div class="list_thumb_offer"><s>325.00</s> (66% off) <span>110 AED</span></div>
                            </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                        <div class="main_thumb">
                            <div class="thumbnail">
                                <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>                                
                            </div>
                            <div class="caption">
                                <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>                                
                                <div class="detail_list_cart">
                                <ul class="list_cart">
                                <li>
                                <input type="submit" value="" class="add_it_icon"></li><li>
                                <input type="submit" value="" class="save_it_icon"></li><li>
                                <input type="submit" value="" class="share_it_icon"></li></ul>
                                </div>
                                <div class="list_thumb_offer"><s>325.00</s> (66% off) <span>110 AED</span></div>
                            </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                        <div class="main_thumb">
                            <div class="thumbnail">
                                <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>                                
                            </div>
                            <div class="caption">
                                <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>                                
                                <div class="detail_list_cart">
                                <ul class="list_cart">
                                <li>
                                <input type="submit" value="" class="add_it_icon"></li><li>
                                <input type="submit" value="" class="save_it_icon"></li><li>
                                <input type="submit" value="" class="share_it_icon"></li></ul>
                                </div>
                                <div class="list_thumb_offer"><s>325.00</s> (66% off) <span>110 AED</span></div>
                            </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                        <div class="main_thumb">
                            <div class="thumbnail">
                                <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>                                
                            </div>
                            <div class="caption">
                                <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>                                
                                <div class="detail_list_cart">
                                <ul class="list_cart">
                                <li>
                                <input type="submit" value="" class="add_it_icon"></li><li>
                                <input type="submit" value="" class="save_it_icon"></li><li>
                                <input type="submit" value="" class="share_it_icon"></li></ul>
                                </div>
                                <div class="list_thumb_offer"><s>325.00</s> (66% off) <span>110 AED</span></div>
                            </div>
                            </div>
                        </li>
                    </ul>
              </div><!-- /Slide2 --> 
            <div class="item">
                    <ul class="feature_li  similar">
                        <li class="col-sm-3">
                        <div class="main_thumb">
                            <div class="thumbnail">
                                <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>                                
                            </div>
                            <div class="caption">
                                <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>                                
                                <div class="detail_list_cart">
                                <ul class="list_cart">
                                <li>
                                <input type="submit" value="" class="add_it_icon"></li><li>
                                <input type="submit" value="" class="save_it_icon"></li><li>
                                <input type="submit" value="" class="share_it_icon"></li></ul>
                                </div>
                                <div class="list_thumb_offer"><s>325.00</s> (66% off) <span>110 AED</span></div>
                            </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                        <div class="main_thumb">
                            <div class="thumbnail">
                                <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>                                
                            </div>
                            <div class="caption">
                                <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>                                
                                <div class="detail_list_cart">
                                <ul class="list_cart">
                                <li>
                                <input type="submit" value="" class="add_it_icon"></li><li>
                                <input type="submit" value="" class="save_it_icon"></li><li>
                                <input type="submit" value="" class="share_it_icon"></li></ul>
                                </div>
                                <div class="list_thumb_offer"><s>325.00</s> (66% off) <span>110 AED</span></div>
                            </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                        <div class="main_thumb">
                            <div class="thumbnail">
                                <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>                                
                            </div>
                            <div class="caption">
                                <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>                                
                                <div class="detail_list_cart">
                                <ul class="list_cart">
                                <li>
                                <input type="submit" value="" class="add_it_icon"></li><li>
                                <input type="submit" value="" class="save_it_icon"></li><li>
                                <input type="submit" value="" class="share_it_icon"></li></ul>
                                </div>
                                <div class="list_thumb_offer"><s>325.00</s> (66% off) <span>110 AED</span></div>
                            </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                        <div class="main_thumb">
                            <div class="thumbnail">
                                <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>                                
                            </div>
                            <div class="caption">
                                <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>                                
                                <div class="detail_list_cart">
                                <ul class="list_cart">
                                <li>
                                <input type="submit" value="" class="add_it_icon"></li><li>
                                <input type="submit" value="" class="save_it_icon"></li><li>
                                <input type="submit" value="" class="share_it_icon"></li></ul>
                                </div>
                                <div class="list_thumb_offer"><s>325.00</s> (66% off) <span>110 AED</span></div>
                            </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                        <div class="main_thumb">
                            <div class="thumbnail">
                                <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>                                
                            </div>
                            <div class="caption">
                                <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>                                
                                <div class="detail_list_cart">
                                <ul class="list_cart">
                                <li>
                                <input type="submit" value="" class="add_it_icon"></li><li>
                                <input type="submit" value="" class="save_it_icon"></li><li>
                                <input type="submit" value="" class="share_it_icon"></li></ul>
                                </div>
                                <div class="list_thumb_offer"><s>325.00</s> (66% off) <span>110 AED</span></div>
                            </div>
                            </div>
                        </li>
                    </ul>
              </div><!-- /Slide3 --> 
        </div>
        
          
                              
    </div><!-- /#myCarousel -->
        
</div><!-- /.span12 -->          
</div><!-- /.row --> 
</div><!-- /.container -->

       

</section>
