@model Orbio.Web.UI.Models.Catalog.ProductDetailModel
@{
    ViewBag.Title = "Product";
}
@*@Html.Action("PriceBar", "Home")*@
<section>
    @{
        Html.RenderPartial(this.Model.ViewPath, this.Model);
    }
</section>











<section id="review">
    <div class="container">
        <div class="row">
            <h1 class="review_news">REVIEWS</h1>
            @{
                Html.RenderAction("ProductRating", new { Id = this.Model.Id });
            }
           

            <div class="col-md-3">
                <div class="" align="center">
                    <p>You can help other customers</p>
                    <p class="product_red">Have you used this product?</p>
                    @*<div class="rating" data-rating-max="5">*@
                        <span class="ratingStar" style="margin-left: 22px;">
                            <input type="radio"id = "addproductrating_1" class = "rating-input" />
                            <label for="addproductrating_1" class="rating-star"></label>
                            <input type="radio" id="addproductrating_2" class="rating-input" />
                            <label for="addproductrating_2" class="rating-star"></label>
                            <input type="radio" id="addproductrating_3" class="rating-input" />
                            <label for="addproductrating_3" class="rating-star"></label>
                            <input type="radio" id="addproductrating_4" class="rating-input" />
                            <label for="addproductrating_4" class="rating-star"></label>
                            <input type="radio" id="addproductrating_5" class="rating-input" />
                            <label for="addproductrating_5" class="rating-star"></label>
                        </span>
                    @*</div>*@
                    <div class="clear"></div>
                    <p>Rate this Product!</p>

                    <a href='@Url.Action("Review", "Catalog", new {this.Model.Name,this.Model.SeName })'>
                        <input type="button" class="wrt_rview" value="Write A Review">
                    </a>

                </div>
            </div>

        </div>

        @{
            Html.RenderAction("ProductReview", new { Id = this.Model.Id });
        }

    </div>

</section>

<section class="similar_prod">

    <div class="container similar_main">
        <div class="similar_slider">
            <h1>SIMILAR PRODUCTS</h1>

        </div> 
        <div align="left" class="new_carsol">
            <a data-slide="prev" href="#myCarousel4" class="carousel-control left"> <</a>
            <a data-slide="next" href="#myCarousel4" class="carousel-control right">></a>
        </div>
        <div class="carousel slide" id="myCarousel4">
            <div class="carousel-inner">
                @Html.Action("AssociatedProducts", "Catalog", new { productId = this.Model.Id })
            </div>



        </div><!-- /#myCarousel -->

    </div>

</section>


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $.each($('a[Id^=ProductVariantAttributes_]'), function () {
                $(this).click(function () {
                    $("#productattr>ul>li.select").removeClass("select");
                    $("#productattr>ul>li.attrvalue").find(":hidden").val('');
                    $('#' + $(this).attr('data-Id')).val($(this).attr('data-Val'));
                    $('#li' + $(this).attr('data-Id')).addClass("select");
                });
            });
        });

    </script>
}
