@model List<Orbio.Web.UI.Models.Catalog.SpecificationAttribute>

@if(this.Model !=null && this.Model.Count>0){
      <table width="100%" cellpadding="0" cellspacing="0" class="descrip">
        
                                    <tr>
                                        <td>
                                            <table width="100%" cellpadding="0" cellspacing="0">
                                                
                                            
                                                <tr>
                                                    <td>
                                                        @*<h1>@sa.Name</h1>*@
                                                        <table width="100%" cellpadding="0" cellspacing="0" class="specfic_phone">
                                                             @foreach(var sa in this.Model)
                                                             {
                                                               
                                                                    <tr>
                                                                        <td width="30%" class="table_brd">@sa.Name</td>
                                                                        <td width="70%">@sa.SpecificationAttributeOptions.Select(sao=>sao.Name).Aggregate((n1,n2)=>n1+","+n2)</td>
                                                                    </tr>
                                                         
                                                              
                                                             }
                                                        </table>
                                                </tr>
                                             
                                            </table>
                                        </td>
                                    </tr>
          
                                  
                                </table>
}