@model List<Orbio.Web.UI.Models.Catalog.SpecificationAttribute>
 <div class="left-sidebar">
                    
                    <div class="filter_by">FILTER BY</div>    
     <div class="inner-filter">
         @foreach (var attr in this.Model)
         {
             if (attr.SpecificationAttributeOptions.Count > 0)
             {
                 Html.RenderPartial(attr.Type + "Filter", attr);
             }
         }
         </div>



     </div>





<script type="text/javascript">
 




    (function ($) {

        var allPanels = $('.brands-name').hide();

        $('.list_products .modern a').click(function () {
            $(this).toggleClass('arrows');
            //allPanels.slideUp();
            $(this).parent().next().slideToggle();
            return false;
        });

        if ($(window).width() < 767) {
            $('.inner-filter').hide();
            $('.filter_by').click(function () {
                $(this).toggleClass('arrow');
                $('.inner-filter').slideToggle();
            });
        }

    })(jQuery);
</script>