@model List<Orbio.Web.UI.Models.Catalog.SpecificationAttribute>
 <div class="left-sidebar">
                    
                    <div class="filter_by">FILTER BY</div>    
                    
                        @foreach (var attr in this.Model)
                        {
                            if (attr.SpecificationAttributeOptions.Count > 0)
                            {
                                Html.RenderPartial(attr.Type + "Filter", attr);
                            }
                        }
                        
                      
                                              
                        
                    </div>


<script type="text/javascript">
 




  (function($) {
    
  var allPanels = $('.brands-name').hide();
    
  $('.list_products .modern a').click(function() {
    allPanels.slideUp();
    $(this).parent().next().slideDown();
    return false;
  });

})(jQuery);
</script>