
@{
    ViewBag.Title = "Product";
}
 @Html.Action("PriceBar", "Home")
 <section>
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Gold</a></li>
            <li><a href="#">Product Name</a></li>
        </ol>




        <div class="row">

            <div class="col-sm-6">
                <!--<img src="images/Basic_image/zoom.jpg" class="det_img" >-->
                <div class="zoom_slide">

                    <a href="images/Thumbnail/1.jpg" class="cloud-zoom" rel="transparentImage: 'data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==', useWrapper: false, showTitle: true, zoomWidth:'300', zoomHeight:'400', adjustY:0, adjustX:10">
                        <img src="images/Thumbnail/1_tb.jpg" title="Sample Title">
                    </a>


                </div>
            </div>

            <div class="col-sm-6">
                <div class="row res_det">
                    <div class="col-sm-6">
                        <div class="detail_descrip">
                            <h1>Diamond Bracele</h1>
                            <p>Availablity : <span>In Stock</span></p>
                            <div class="star_rt"></div>
                            <p class="price_rate">RS:32,150.00</p>
                            <s>Rs.33,150.00</s>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <ul class="desc_butt">
                            <li><a href="">WRITE A REVIEW</a></li>
                            <li><a href="">ADD TO WISHLIST</a></li>
                            <li><a href="">EMAIL TO FRIEND</a></li>
                        </ul>
                    </div>
                </div>

                <div class="avab_size">
                    <ul class="size_li clearfix">
                        <li>AVAILABLE SIZE :</li>
                        <li><a href="">6</a></li>
                        <li><a href="">9.5</a></li>
                        <li><a href="">11</a></li>
                        <li><a href="">13.5</a></li>
                        <li class="pull-right no_brd">
                            <a href="" class="size_guide">SIZE GUIDE</a>
                            <div class="Popup_img"><img src="images/Basic_image/SizeChart-popup.jpg"></div>
                        </li>
                    </ul>
                </div>

                <div class="quan_expect">
                    <div class="row">
                        <div class="col-sm-3">
                            Quantity <select class="quantity">
                                <option>1</option>
                            </select>
                            <a href="shopping_cart.html"><input type="submit" class="Buynow" value="BUY NOW"></a>
                        </div>
                        <div class="col-sm-9">
                            (Excepted Delivered Date: Tuesday, Nov 25, 2014)
                            <p><i class=""></i>FREE SHIPPING IN INDIA</p>
                            <p>Need Help? Call<span>+91 495-2722288</span></p>
                        </div>
                    </div>
                </div>

                <table cellpadding="0" cellspacing="0" class="Price_breakup" width="100%" align="center">
                    <tr>
                        <th colspan="4">Price Breakup</th>
                    </tr>
                    <tr>
                        <td>
                            GOLD
                            <p>Rs.26222.23</p>
                        </td>

                        <td>
                            Other St.
                            <p>Rs.222.23</p>
                        </td>

                        <td>
                            Making
                            <p>Rs.6222.23</p>
                        </td>

                        <td>
                            Tax
                            <p>Rs.312.23</p>
                        </td>
                    </tr>
                </table>
            </div>

        </div>

</section>





<section class="technical_spec">
    <div class="container">
        <div class="row">
            <div class="col-md-7">

                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">SPECFICATION <i class="plus_icon"></i></a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">

                                <table width="100%" cellpadding="0" cellspacing="0" class="descrip">
                                    <tr>
                                        <td>
                                            <table width="100%" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td>
                                                        <h1>Network</h1>
                                                        <table width="100%" cellpadding="0" cellspacing="0" class="specfic_phone">
                                                            <tr>
                                                                <td width="30%" class="table_brd">Model No.</td>
                                                                <td width="70%">Samsung Galaxy S5</td>
                                                            </tr>
                                                            <tr>
                                                                <td width="30%" class="table_brd">Model No.</td>
                                                                <td width="70%">Samsung Galaxy S5</td>
                                                            </tr>
                                                            <tr>
                                                                <td width="30%" class="table_brd">Model No.</td>
                                                                <td width="70%">Samsung Galaxy S5</td>
                                                            </tr>
                                                            <tr>
                                                                <td width="30%" class="table_brd">Model No.</td>
                                                                <td width="70%">Samsung Galaxy S5</td>
                                                            </tr>
                                                            <tr>
                                                                <td width="30%" class="table_brd">Model No.</td>
                                                                <td width="70%">Samsung Galaxy S5</td>
                                                            </tr>
                                                        </table>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <table width="100%" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td>
                                                        <h1>Display</h1>
                                                        <table width="100%" cellpadding="0" cellspacing="0" class="specfic_phone">
                                                            <tr>
                                                                <td width="30%" class="table_brd">Model No.</td>
                                                                <td width="70%">Samsung Galaxy S5</td>
                                                            </tr>
                                                            <tr>
                                                                <td width="30%" class="table_brd">Model No.</td>
                                                                <td width="70%">Samsung Galaxy S5</td>
                                                            </tr>
                                                            <tr>
                                                                <td width="30%" class="table_brd">Model No.</td>
                                                                <td width="70%">Samsung Galaxy S5</td>
                                                            </tr>
                                                            <tr>
                                                                <td width="30%" class="table_brd">Model No.</td>
                                                                <td width="70%">Samsung Galaxy S5</td>
                                                            </tr>
                                                            <tr>
                                                                <td width="30%" class="table_brd">Model No.</td>
                                                                <td width="70%">Samsung Galaxy S5</td>
                                                            </tr>
                                                        </table>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>



                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                                    DESCRIPATION
                                    <i class="plus_icon"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">

                                <table width="100%" cellpadding="0" cellspacing="0" class="descrip">
                                    <tr>
                                        <td>
                                            <table width="100%" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td>
                                                        <h1>Network</h1>
                                                        <table width="100%" cellpadding="0" cellspacing="0" class="specfic_phone">
                                                            <tr>
                                                                <td width="30%" class="table_brd">Model No.</td>
                                                                <td width="70%">Samsung Galaxy S5</td>
                                                            </tr>
                                                            <tr>
                                                                <td width="30%" class="table_brd">Model No.</td>
                                                                <td width="70%">Samsung Galaxy S5</td>
                                                            </tr>
                                                            <tr>
                                                                <td width="30%" class="table_brd">Model No.</td>
                                                                <td width="70%">Samsung Galaxy S5</td>
                                                            </tr>
                                                            <tr>
                                                                <td width="30%" class="table_brd">Model No.</td>
                                                                <td width="70%">Samsung Galaxy S5</td>
                                                            </tr>
                                                            <tr>
                                                                <td width="30%" class="table_brd">Model No.</td>
                                                                <td width="70%">Samsung Galaxy S5</td>
                                                            </tr>
                                                        </table>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <table width="100%" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td>
                                                        <h1>Display</h1>
                                                        <table width="100%" cellpadding="0" cellspacing="0" class="specfic_phone">
                                                            <tr>
                                                                <td width="30%" class="table_brd">Model No.</td>
                                                                <td width="70%">Samsung Galaxy S5</td>
                                                            </tr>
                                                            <tr>
                                                                <td width="30%" class="table_brd">Model No.</td>
                                                                <td width="70%">Samsung Galaxy S5</td>
                                                            </tr>
                                                            <tr>
                                                                <td width="30%" class="table_brd">Model No.</td>
                                                                <td width="70%">Samsung Galaxy S5</td>
                                                            </tr>
                                                            <tr>
                                                                <td width="30%" class="table_brd">Model No.</td>
                                                                <td width="70%">Samsung Galaxy S5</td>
                                                            </tr>
                                                            <tr>
                                                                <td width="30%" class="table_brd">Model No.</td>
                                                                <td width="70%">Samsung Galaxy S5</td>
                                                            </tr>
                                                        </table>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>



                                </table>


                            </div>
                        </div>
                    </div>

                </div>




            </div>
            <div class="col-md-5">
                <h1 class="related">RELEATED PRODUCTS</h1>

                <div id="myCarousel2" class="carousel slide">



                    <!-- Carousel items -->
                    <div class="carousel-inner">

                        <div class="item active">
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="#x" class="thumbnail">
                                        <img src="images/Basic_image/related-products-1.png" alt="Image" style="max-width:100%;" />
                                        <p class="thumb_title">TYPE OF INDIAN JEW</p>
                                        <p class="thumb_date">Rs. 20,300.00</p>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="#x" class="thumbnail">
                                        <img src="images/Basic_image/related-products-2.png" alt="Image" style="max-width:100%;" />
                                        <p class="thumb_title">TYPE OF INDIAN JEW</p>
                                        <p class="thumb_date">Rs. 20,300.00</p>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="#x" class="thumbnail">
                                        <img src="images/Basic_image/related-products-3.png" alt="Image" style="max-width:100%;" />
                                        <p class="thumb_title">TYPE OF INDIAN JEW</p>
                                        <p class="thumb_date">Rs. 20,300.00</p>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="#x" class="thumbnail">
                                        <img src="images/Basic_image/related-products-4.png" alt="Image" style="max-width:100%;" />
                                        <p class="thumb_title">TYPE OF INDIAN JEW</p>
                                        <p class="thumb_date">Rs. 20,300.00</p>
                                    </a>
                                </div>

                            </div><!--/row-fluid-->
                        </div><!--/item-->

                        <div class="item">
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="#x" class="thumbnail">
                                        <img src="images/Basic_image/related-products-1.png" alt="Image" style="max-width:100%;" />
                                        <p class="thumb_title">TYPE OF INDIAN JEW</p>
                                        <p class="thumb_date">Rs. 20,300.00</p>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="#x" class="thumbnail">
                                        <img src="images/Basic_image/related-products-2.png" alt="Image" style="max-width:100%;" />
                                        <p class="thumb_title">TYPE OF INDIAN JEW</p>
                                        <p class="thumb_date">Rs. 20,300.00</p>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="#x" class="thumbnail">
                                        <img src="images/Basic_image/related-products-3.png" alt="Image" style="max-width:100%;" />
                                        <p class="thumb_title">TYPE OF INDIAN JEW</p>
                                        <p class="thumb_date">Rs. 20,300.00</p>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="#x" class="thumbnail">
                                        <img src="images/Basic_image/related-products-4.png" alt="Image" style="max-width:100%;" />
                                        <p class="thumb_title">TYPE OF INDIAN JEW</p>
                                        <p class="thumb_date">Rs. 20,300.00</p>
                                    </a>
                                </div>

                            </div><!--/row-fluid-->
                        </div><!--/item-->

                    </div><!--/carousel-inner-->

                    <a class="left carousel-control" href="#myCarousel2" data-slide="prev">‹</a>
                    <a class="right carousel-control" href="#myCarousel2" data-slide="next">›</a>
                </div><!--/myCarousel-->








            </div>
        </div>
    </div>

</section>




<section class="similar_prod">

    <div class="container">
        <div class="similar_slider">
            <h1>SIMLIAR PRODUCTS</h1>
            <div align="left">
                <a data-slide="prev" href="#myCarousel4" class="carousel-control left"></a>
                <a data-slide="next" href="#myCarousel4" class="carousel-control right"></a>
            </div>
        </div>

        <div class="carousel slide" id="myCarousel4">
            <div class="carousel-inner">
                <div class="item active">
                    <ul class="similar">
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div><!-- /Slide1 -->
                <div class="item">
                    <ul class="similar">
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div><!-- /Slide2 -->
                <div class="item">
                    <ul class="similar">
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="main_thumb">
                                <div class="thumbnail">
                                    <a href="#"><img alt="" src="images/Thumbnail/Listing-product1.jpg"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">Lenovo S650 Dual Sim 3G 16GB</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">Rs.23,000.00</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div><!-- /Slide3 -->
            </div>



        </div><!-- /#myCarousel -->

    </div>

</section>






<section id="review">
    <div class="container">
        <div class="row">
            <h1 class="review_news">REVIEWS</h1>
            <div class="col-md-3">
                <div class="" align="center">
                    <i class="big_star"></i>
                    <p class="red_no">4.4</p>
                    <p>Average Rating</p>
                    <p>Based on 94 Rating</p>
                </div>
            </div>

            <div class="col-md-3">
                <ul class="cust_rating">
                    <li><p>5 star</p><div class="yell_rat"><img src="images/Basic_image/ratings-5.png"></div><p>(20)</p></li>
                    <li><p>4 star</p><div class="yell_rat"><img src="images/Basic_image/ratings-4.png"></div><p>(20)</p></li>
                    <li><p>3 star</p><div class="yell_rat"><img src="images/Basic_image/ratings-3.png"></div><p>(20)</p></li>
                    <li><p>2 star</p><div class="yell_rat"><img src="images/Basic_image/ratings-2.png"></div><p>(20)</p></li>
                    <li><p>1 star</p><div class="yell_rat"><img src="images/Basic_image/ratings-1.png"></div><p>(20)</p></li>
                </ul>
            </div>

            <div class="col-md-3">
                <div class="" align="center">
                    <p>You can help other customers</p>
                    <p class="product_red">Have you used this product?</p>
                    <div class="rating" data-rating-max="5"></div>
                    <div class="clear"></div>
                    <p>Rate this Product!</p>
                    <input type="button" class="wrt_rview" value="Write A Review">
                </div>
            </div>

        </div>

        <div class="row disply_top">
            <div class="display_review">
                <h1>Displaying Top Reviews</h1>
            </div>
            <div class="col-md-12">
                <ul class="comment">
                    <li>
                        <div class="review_post">
                            <h1>Great Battery Life</h1>
                            <p>Karthick</p>
                            <div class="star_rt"></div>
                        </div>
                        <div class="review_line">
                            disk is compact. loved the metal finish. uploading is a bit slow because of usb 2.0 for uploading. good product but no carrying case is vailable it has to be purchased separately.
                        </div>
                    </li>
                    <li>
                        <div class="review_post">
                            <h1>Great Battery Life</h1>
                            <p>Karthick</p>
                            <div class="star_rt"></div>
                        </div>
                        <div class="review_line">
                            disk is compact. loved the metal finish. uploading is a bit slow because of usb 2.0 for uploading. good product but no carrying case is vailable it has to be purchased separately.
                        </div>
                    </li>
                </ul>
                <div class="prev_nxt"> <a href="">Previous</a>|<a href="#">Next</a></div>
            </div>
        </div>

    </div>


    </div>
    </div>


    </div>
    </div>
    </div>
</section>

