@model Orbio.Web.UI.Models.Catalog.SearchModel

<ul class="menu_desc">
        <li class="select_menu">
            <a>
                <input type="text" class="select_text" placeholder="Enter Your Keyword..." id="twotabsearchtextbox">
                <input type="submit" class="search_butt" value="" id="search_button">
            </a>
        </li>
</ul>


