@{
    var genericAttributeService = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Orbio.Services.Common.IGenericAttributeService>();
    var workContext = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Orbio.Core.IWorkContext>();
}
<div class="top-menu-new">
    <div class="container">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <p>07 SEP 2015 - 22k Gold/gm | Kerala: 2560.00(15) | TAMILNADU: 2569.00(14)</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <ul class="top-rgt pull-right">
                <li class="my-account">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-user"></i>
                            MY Account
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </div>
                </li>
                <li class="log-in">
                    <a href=""><i class="fa fa-sign-in"></i>Login</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="navbar navbar-default home" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html"><img src="images/Basic_image/Francis-Alukkas-Logo.png"></a>
        </div>
        <ul class="menu_desc">
            <li class="select_menu">
                <a>
                    <input type="text" class="select_text" placeholder="Enter Your Keyword...">
                    <input type="submit" class="search_butt" value="">
                </a>
            </li>
        </ul>
        <div class=" collapse head_main in">
            <ul class="nav navbar-nav navbar-right">
                <li class="icon-cart"><i class="cart-icon"></i><span>5</span></li>
                <li class="icon-cart"><i class="cart-wish"></i></li>
            </ul>

        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="second_menu home">
    <div class="container">

        <div class="navbar navbar-default" role="navigation">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav ">
                    <li><a href="#">About Us</a></li>
                    <li><a href="">Brands</a></li>
                    <li><a href="">News</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="">Default</a></li>
                </ul>

            </div><!--/.nav-collapse -->

        </div>

    </div>
</div>
<script src="~/Scripts/jquery.js"></script>
<script>
    $(document).ready(function () {
        @*$("#drpcategorysearch").change(function () {
        var Search_Str = $(this).val();;
        var wid = $(this).width();
        $("#nav-search-in-content").text(Search_Str);
        });*@
        $('#search_button').click(function (e) {
            e.preventDefault();
            var url = "";
            url = 'Search?p=sr&q=' + $('#twotabsearchtextbox').val();
            window.location.href = window.location.origin + "/" + url;


        });
        $('#twotabsearchtextbox').keydown(function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                var url = "";
                url = 'Search?p=sr&q=' + $('#twotabsearchtextbox').val();
                window.location.href = window.location.origin + "/" + url;
            }

        });
    });

</script>
