
@font-face {
  font-family: 'Roboto-Regular';
  src: url('fonts/Roboto-Regular.eot');
  src: url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/Roboto-Regular.woff') format('woff'),
       url('fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('fonts/Roboto-Medium.eot');
  src: url('fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
       url('fonts/Roboto-Medium.woff') format('woff'),
       url('fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('fonts/fonts/Roboto-Bold.eot');
  src: url('fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Roboto-Bold.woff') format('woff'),
       url('fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html{height:100%}
body{min-height:100%}

.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: 2px;
}
.dropdown-submenu:hover > a:after {
  border-left-color:#000;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

ul, li{list-style: none; margin: 0; padding: 0;}
.rgt-side{float: right;}
.rgt-menu li{float: left; padding: 10px 0; }
.rgt-menu li a{border-right: 1px #000 solid; padding: 0 5px; color: #000;}
.navbar-nav li a{padding: 10px; font-size: 14px;font-family: 'Roboto-Regular';color:#6d6d6d;}
.navbar.navbar-default.navbar-static-top{ min-height:inherit; margin: 0; z-index: 999; border-width: 0;background-color:#0082c7 }
.admin-login{float: right;}
.admin-login .dropdown-menu{ left: inherit; top:auto;}
.admin-login button.btn.btn-sm.dropdown-toggle{background:transparent;}

.chart #container{margin: 30px auto!important;}
.table-home .col-md-6.col-sm-6.first{padding: 0 15px 0 0;}
.table-home .col-md-6.col-sm-6{padding: 0 0 0 15px;}
.main-table {padding-bottom: 40px; position: relative;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{background-color: #0082c7}
.logo{margin-top:10px;}
.main_edit_order{width: 100%;padding-top: 15px}
.tab_side_solutions {background-color: #fff;margin-bottom: 20px}
.edit_order_icon{background: url("../images/Edit_order_sprite.png")-1px -9px no-repeat;height: 39px;width:50px;display: inline-block;float:left;}
.edit_order_details a {position: relative;top:8px;text-transform: uppercase;text-decoration: none;color:#3e3e3e;font-size: 15px;font-family: 'Roboto-Regular'}
.back_to_order{float:right;padding-top: 7px}
.back_to_order a{text-transform: uppercase;font-size: 11px;color:#3e3e3e;font-family: 'Roboto-Bold';}
.order_no{margin-top: 10px;border: 1px solid #0082c7;width: 100%;background-color:#e0eef5}
.order_no p{text-transform: uppercase;padding-top: 10px;padding-left: 24px;color:#0082c7;font-size: 18px;font-family: 'Roboto-Bold'}
.adobe_icon{background: url("../images/Edit_order_sprite.png ")-54px -5px no-repeat;height:39px;width:25px;display: inline-block;}
.close_icon{background: url("../images/Edit_order_sprite.png ")-98px -5px no-repeat;height:39px;width:25px;display: inline-block;}
.reader_icons{float:right;}
.tab_main_order{background-color: #0082c7;border-bottom:2px solid #2b2b2b;}
.tab_main_order li{display: inline-block;margin: 10px 15px;}
.tab_main_order li a{color:#fff;text-decoration: none}
.tab_main_order .active{border-bottom: 2px solid #2b2b2b}
.top_label li{display: inline-block;margin: 5px 11px;font-size: 13px;font-family: 'Roboto-Regular';}
.date_admin{background: url("../images/Edit_order_sprite.png ")-148px -1px no-repeat;height:33px;width:25px;display:inline-block;margin-right: 8px }
.time_admin{background: url("../images/Edit_order_sprite.png ")-196px -1px no-repeat;height:33px;width:25px;display:inline-block;margin-right: 8px }
.select_pending{width:172px;height: 27px}
.customer{color:#0082c7;}
.save_pending{background-color:#2b2b2b;color:#fff;border:0px;padding:5px 13px;}
.item_admin_order{width:100%;margin-top:10px;border:2px solid #9fd2eb;}
.item_admin_order thead {background-color:#e0eef5;border-bottom: 2px solid #9fd2eb}
.item_admin_order thead td{text-align: center;padding: 8px 0px;font-size: 12px;font-family: 'Roboto-Bold';color:#676666;text-transform: uppercase;}
.item_admin_order tbody td{padding: 8px 5px;border:1px solid #fff;}
.item_admin_order tbody td img{vertical-align: text-bottom;border: 1px solid #e2e9ed}
.varient_align{text-align: left;}
.first_row td{background-color:#f3f8fa;}
.second_row td{background-color:#f4fbfd;}
.add_new_projects{background-color:#f4fbfd;padding-bottom: 22px;border:1px solid #9fd2eb;margin-top: 10px}
.add_new_projects h3{font-size: 18px ;text-transform:uppercase;color:#0082c7;font-family: 'Roboto-Bold';}
.text_sku{width:223px;height: 37px;    margin: 7px 0px 16px 0px;border:1px solid #d8d8d8;font-size: 13px;font-family: 'Roboto-Regular';}
.choose-varient{width:223px ;height:37px;margin: 10px 0px 16px 0px;border:1px solid #d8d8d8;font-size: 13px;font-family: 'Roboto-Regular';}
.edit_ring{background: url("../images/Edit_order_sprite.png")-249px -9px no-repeat;height:33px;width:25px;display:inline-block;cursor:pointer;border: 0;}
.delete_ring{background: url("../images/Edit_order_sprite.png")-245px -38px no-repeat;height:33px;width:25px;display:inline-block;cursor: pointer;border: 0;}
.edit_save{background: url("../images/Edit_order_sprite.png")-281px -38px no-repeat;height:33px;width:25px;display:inline-block;cursor:pointer;border: 0;}
.edit_cancel{background: url("../images/Edit_order_sprite.png")-281px -9px no-repeat;height:33px;width:25px;display:inline-block;cursor: pointer;border: 0;}
.add_product_submit{float: right;margin-right: 27px;background-color: #2b2b2b;color:#fff;border: 0px;padding: 5px 25px;font-size: 13px;font-family: 'Roboto-Regular'; }
.order_total_div{background-color: #f4fbfd;border:1px solid #9fd2eb;margin-top: 28px;width:49%;padding-bottom: 13px}
.order_total_div h3{text-transform: uppercase;font-size: 18px;font-family: 'Roboto-Bold';color:#0082c7;}
.order_total_div table {width:100%;}
.order_total_div table td{text-align: left;padding: 8px 0px}
.order_total_div table td label{font-size: 13px;font-family: 'Roboto-Regular';}
.subtotal_no{font-family: 'Roboto-Regular';font-size: 13px;color:#6d6d6d;}
.edit_order_total{background: url("../images/Edit_order_sprite.png ")-13px -52px no-repeat;height:33px;width:29px;display:inline-block;cursor:pointer;margin-left: 21px;}
.subtotal_label{color:#0082c7;}
.free_shipping li{display: inline-block;margin: 5px 4px;font-family: 'Roboto-Regular';font-size: 13px;color:#6d6d6d;}
.checkbox_shipp{height: 20px;width:35px;position: relative;top:7px;}
.submit_shipp{background-color: #2b2b2b;color:#fff;border: 0px;padding: 5px 15px;font-size: 13px;font-family: 'Roboto-Regular'; }
.payment_details{background-color: #f4fbfd;border: 1px solid #9fd2eb;width:24%;margin-left: 1.5%;margin-top:28px;height: 163px;}
.payment_details h3{font-size: 18px ;text-transform:uppercase;color:#0082c7;font-family: 'Roboto-Bold';}
.payment_details td {padding: 5px 0px 6px 0px;color:#6d6d6d;font-size: 11px;font-family: 'Roboto-Regular'}
.payment_details td  select{height: 30px;width:108px;}
.mark_as{background-color: #2b2b2b;color:#fff;font-size: 13px;font-family: 'Roboto-Regular';padding: 5px 15px; margin-left: 8px;border: 0px}
.payment_details label{margin-bottom: 0px;padding-left: 8px}
.payment_details table{width:100%;}
.shipping_details{background-color: #f4fbfd;border:1px solid #9fd2eb;margin:30px 0px;padding-bottom: 15px;}
.shipping_details h3{font-size: 18px ;text-transform:uppercase;color:#0082c7;font-family: 'Roboto-Bold';}
.left_side{width:50%;float:left;margin-top: 10px}
.pending_selectd{width:60%;height: 30px;margin-left: 2.5%}
.date_shipped{margin-left:8%;}
.right_side{width:50%;float:left;margin-top: 10px}
.total_weight{margin-left:8%}
.date_delivered{margin-left:6%;}
.comments{width:80%;margin-left: 5.5%;border:1px solid #9fd2eb;}
.shipping_submit{float:right;margin-right:21px;border: 0px;background-color: #2b2b2b;color:#fff;padding: 5px 15px}
.shipping_details .pending_selectd{font-size: 13px;color:#6d6d6d;font-family: 'Roboto-Regular';border:1px solid #9fd2eb;}
.shipping_details label{font-size: 13px;color:#6d6d6d;font-family: 'Roboto-Regular'}
.tracking_number {margin-left:2%;}
.shipping_status {margin-left:3.5%;}
.quantity{text-align: center}
.number{font-family: 'Roboto-Regular';font-size: 13px;color:#6d6d6d;text-align: right;}
.diamond{font-family: 'Roboto-Regular';font-size: 13px;color:#6d6d6d;padding-left: 5px}
.varient{font-family: 'Roboto-Regular';font-size: 13px;color:#0082c7;padding-left: 5px}
.action_ring{text-align: center;}
.billing_address_main h3{font-size: 18px ;text-transform:uppercase;color:#0082c7;font-family: 'Roboto-Bold';}
.left_address_form{float:left;    margin-bottom: 10px;width:100%}
.left_address_form table{width:84%; border: 1px solid black;margin-left:28px}
.left_address_form table td{text-align:left;padding: 8px 12px}
.edit_billing{background-color: #0082c7;color:#fff;border:0px;}
.add_order_notes{width:100%;overflow: scroll;height:500px;float:left;margin:10px 0}
.add_order_noteshead {font-size: 18px ;text-transform:uppercase;color:#0082c7;font-family: 'Roboto-Bold';}
.add_order_notes table{width:100%;}
.add_order_notes table td{text-align:left;padding: 8px 12px}
.add_notes_delete{background-color: #2b2b2b;color:#fff;border:0px;text-transform:uppercase;font-family: 'Roboto-Regular';padding: 5px 13px;}
.right_order_notes{width:100%;float:left;margin:10px 0px;}
.right_order_notes table{width:100%;}
.right_order_notes table td{text-align:left;padding: 8px 12px}
.right_order_notes textarea{height: 81px;width:253px;}
.add_notes_checkbox{height: 25px;width: 19px;}

/*orderlist*/
.order_list ul{margin-left: -22px}
.order_list li{display: inline-block;}
.start_order_date{width:95%;height: 35px;border:1px solid #9fd2eb;font-size: 13px;color:#373737;font-family: 'Roboto-Regular'}
.sart_date{width:16.5%;float:left;}
.billing_address_text{width:14%;float:left;}
.order_status{width:12%;float:left;}
.order_stat_select{height: 35px;width:96%;}
.order_list{background-color: #fff;padding: 14px 0px 15px 38px;}
.order_stat_select{border:1px solid #9fd2eb;font-size: 13px;color:#373737;font-family: 'Roboto-Regular'}
.search_order_list{background-color: #0082c7;border:1px solid #0082c7;color:#fff;font-family: 'Roboto-Regular';font-size: 13px;margin-top: 19px;padding: 5px 10px}
.order_total_main_table{width:100%;position: relative;top:0px;}
.order_total_main_table thead td{text-align: center;color: #fff;background-color: #0082c7;text-transform: uppercase;padding: 5px 0px;border:1px solid #ddd;} 
.order_total_main_table tbody td{font-family: 'Roboto-Regular';color:#373737;font-size: 13px;padding: 5px 0px;background-color: #fff;border:1px solid #ddd;}
.align_center{text-align: center;}
.align_left{text-align: right;}
.refresh_xl{float:right;margin-top: 18px;}
.refresh_button{height:35px;width:39px;background-color: #0082c7;float:left;}
.refresh_button label{background: url("../images/image sprites.png")no-repeat -51px -10px;height:31px;width:30px;cursor: pointer;}
.report_xls{height:35px;width:162px;background-color: #0082c7;float:left;margin-left: 5px;color:#fff;padding:5px 5px;}
.report_xls label{background: url("../images/image sprites.png")no-repeat -168px -15px;height:31px;width:30px;float:right;cursor: pointer;}

/*paging*/

.pager {
    margin-top: 15px;
}
.pager span.page-number,
.pager span.first,
.pager span.prev,
.pager span.last,
.pager span.next {
    padding-right: 5px;
    cursor: pointer;
}
.pager span.page-number:hover,
.pager span.first:hover,
.pager span.prev:hover,
.pager span.last:hover,
.pager span.next:hover {
     color: green;   
}
.pager span.page-number.active {
     color: red;   
}

.paging-nav {
  text-align: center;
  padding-top: 2px;
  position: absolute;
  left:50%;
  margin-top: 30px
}

.paging-nav a {
    padding-right: 5px;
  cursor: pointer;
  border: 1px solid #fff;
  padding: 5px;
  color: #373737;
  /* margin-top: 32px; */
 /* position: relative;*/
  top: 10px;
  margin: 4px;
  background-color: #fff;
  text-decoration: none;
  border:1px solid #0082c7;
  padding: 10px;


}
.selected-page{background-color: #333333;color:#fff;}

.paging-nav .selected-page {
  background: #333333;
 /* font-weight: bold;*/
  color:#fff;
}
.paging-nav #prev{background: url("../images/Edit_order_sprite.png")-142px -99px no-repeat;height:20px;width:20px;padding: 10px 10px 10px 10px }
.paging-nav #next{background: url("../images/Edit_order_sprite.png")-187px -99px no-repeat;height:20px;width:20px;padding: 10px 10px 10px 10px }

footer{ text-align: center;background: #e7e5e5;position:absolute;bottom:0px;left:0px;right:0px}
footer p{margin: 0; padding: 10px 0;font-family: 'Roboto-Regular';color:#424242;font-size: 13px;font-family: 'Roboto-Regular';}
footer a{font-family: 'Roboto-Regular';color:#424242;font-size: 13px;}

/*currentshopping*/
.edit_cart{background: url("../images/Edit_order_sprite.png")-1px -101px no-repeat;height: 39px;width:50px;display: inline-block;float:left;}
.collapsable_table_main{width:100%;margin-top:26px;}
.collapsable_table_main table{width:100%;margin-top:10px;}
.main_head{background-color: #0082c7;border-bottom: 2px;border-bottom:2px solid #2d2d2d;}
.main_head td{padding: 10px 0px;color: #fff;text-transform: uppercase;font-size: 12px;font-family: 'Roboto-Regular';font-weight: normal;} 
.alt_row_first{background-color: #f7f7f7 }
.main_tbody td{padding: 10px 0px;color:#373737;font-size: 12px;font-family: 'Roboto-Regular';}
.table-striped thead{background-color: #7f7f7f;text-align: center;text-transform: uppercase;} 
.table-striped thead td{color: #fff;font-size: 12px;font-family: 'Roboto-Regular'} 
.table-striped tbody td{vertical-align: middle;border:1px solid #7f7f7f;    padding: 5px 5px;}
.subtotal{text-align: right;font-weight: bold}
.qty{text-align: center;font-weight: bold}
.ring{text-align: center;}
.status_cart{font-weight: normal}
.item_price{text-align: right;}
.first_row_cart{background-color: #f7f7f7 }
.second_row_cart{background-color: #dee6ea;}
.customer_id_cart {text-align: center}
.sub_total_cart{text-align: right;}
.per_page{font-family: 'Roboto-Regular';font-size: 11px;color:#000;text-transform: uppercase;}
.per_page_number{font-family: 'Roboto-Regular';font-size: 11px;color:#000;}
td h3:focus{border:0px ;}

/*add_cart*/
.add_cat_button{border:1px solid #0082c7;background-color:#fff;font-family: 'Roboto-Regular';font-size: 13px;padding: 5px 10px;}
.delete_cat_button{border:1px solid #0082c7;background-color:#fff;font-family: 'Roboto-Regular';font-size: 13px;padding: 5px 10px;}
.add_cart_left_side h3{font-size: 18px;color:#0082c7;text-transform: uppercase;font-family: 'Roboto-Bold';padding: 10px 0px;}
.add_cart_left_side h3{font-size: 16px;color:#0082c7;text-transform: uppercase;font-family: 'Roboto-Bold';padding: 10px 0px;}
.description_cart{position: relative;top:-55px;}
.add_cart_left_side label{font-size: 13px;font-family: 'Roboto-Regular';color:#373737;font-weight: normal;}
.category_text_add_cat{height: 30px;margin-left: 20%;width: 50%;font-size: 13px;font-family: 'Roboto-Regular';color:#373737;border:1px solid #9fd2eb}
.description_textarea{margin-left: 17%;width: 50%;height: 122px;font-size: 13px;font-family: 'Roboto-Regular';color:#373737;border:1px solid #9fd2eb}
.category_select_add_cat{height: 30px;margin-left: 9%;width: 50%;font-size: 13px;font-family: 'Roboto-Regular';color:#373737;border:1px solid #9fd2eb}
.none_select_add_cat{height: 30px;margin-left: 11.5%;width: 50%;font-size: 13px;font-family: 'Roboto-Regular';color:#373737;border:1px solid #9fd2eb}
.show_on_home_page_check{margin-left: 8px;width: 20px;height: 20px;position: relative;top: 4px;left:7px;}
.published_add_cart{margin-left: 15px;font-size: 13px;font-family: 'Roboto-Regular';color:#373737}
.display_order_add_cart{height: 30px;margin-left: 15%;width: 50%;font-size: 13px;font-family: 'Roboto-Regular';color:#373737;border:1px solid #9fd2eb}
.category_text_seo_cat{height: 30px;margin-left: 24.5%;width: 50%;font-size: 13px;font-family: 'Roboto-Regular';color:#373737;border:1px solid #9fd2eb}
.category_text_seo_frnd_name{height: 30px;margin-left: 5%;width: 50%;font-size: 13px;font-family: 'Roboto-Regular';color:#373737;border:1px solid #9fd2eb}
.seo_description_textarea{margin-left: 22%;width: 50%;height: 122px;font-size: 13px;font-family: 'Roboto-Regular';color:#373737;border:1px solid #9fd2eb}
.category_text_seo_meta{height: 30px;margin-left: 29.5%;width: 50%;font-size: 13px;font-family: 'Roboto-Regular';color:#373737;border:1px solid #9fd2eb}
.product_add_cart{width:100%;margin-top: 10px;}
.product_add_cart thead td{background-color: #0082c8;color:#fff;text-transform: uppercase;font-family: 'Roboto-Regular';font-size: 13px;padding: 10px 0px;text-align: center;border: 1px solid #fff;} 
.product_add_cart tbody td{text-align: center;font-family: 'Roboto-Regular';font-size: 13px;padding: 7px 0px;}

/*product_attr*/
.product_attr_table{width:100%;position: relative;top:10px;}
.product_attr_table thead td{color:#fff;background-color: #0082c8;font-family: 'Roboto-Regular';font-size: 13px;text-align: center;padding:10px 0px;border:1px solid #fff;text-transform: uppercase;}
.product_attr_table tbody{background-color: #fff;}
.product_attr_table tbody td{text-align: center;font-size: 13px;color:#373737;border:1px solid #ddd;}
.new_product_attribute_div{width:50%;background-color: #f4fbfd;margin: 36px auto;padding: 22px 0px 2px 0px;border:1px solid #9fd2eb ;}
.add_product_attr_name{width:50%;margin-left:7.5%;height: 35px;border:1px solid #9fd2eb;}
.new_product_attribute_div label{margin-left: 3%;font-family: 'Roboto-Regular';font-size: 13px;color:#373737;font-weight: normal}
.description_product_attr{margin-left: 2%;width:50%;height: 120px;border:1px solid #9fd2eb;}
.description_label_add_prdct{position: relative;top:-57px;}

/*manufacturer*/
.main_edit_order{width: 100%;padding-top: 15px}
.refresh_xl{float:right;margin-top: 18px;}
.refresh_button{height:35px;width:39px;background-color: #0082c7;float:left;}
refresh_button label{background: url("../images/image sprites.png")no-repeat -51px -10px;height:31px;width:30px;cursor: pointer;}
.order_total_main_table{width:100%;position: relative;top:0px;}
.order_total_main_table thead td{text-align: center;color: #fff;background-color: #0082c7;text-transform: uppercase;padding: 5px 0px;border:1px solid #ddd;} 
.order_total_main_table tbody td{font-family: 'Roboto-Regular';color:#373737;font-size: 13px;padding: 5px 0px;background-color: #fff;border:1px solid #ddd;}
.align_center{text-align: center;}
.edit_ring{background: url("../images/Edit_order_sprite.png")-249px -7px no-repeat;height:33px;width:25px;display:inline-block;cursor:pointer;}
.order_list label{font-size: 13px;color:#373737;font-family: 'Roboto-Regular';font-weight: normal;}
.man_search{background-color: #0082c7;color:#fff;border:1px solid #0082c7;padding: 5px}
.shipmen_icon {background: url("../images/image sprites.png")-81px -42px no-repeat;height: 39px;width: 34px;display: inline-block;float: left;}
.published_image{background: url("../images/image sprites.png")-296px -8px no-repeat;height: 36px;width: 27px;display: inline-block;}

/*pagination*/

.paging-nav {
  text-align: center;
  padding-top: 2px;
}

.paging-nav a {
  margin: auto 1px;
  text-decoration: none;
  display: inline-block;
  padding: 1px 7px;
  background: #91b9e6;
  color: white;
  border-radius: 3px;
}

.paging-nav .selected-page {
  background: #187ed5;
  font-weight: bold;
}

.paging-nav,
#tableData {
  
  
  font-family: Arial, sans-serif;
}
