@model Orbio.Web.UI.Areas.Admin.Models.Catalog.ManufacturerDetailModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}



<div class="container">
    @using (Html.BeginForm("UpdateManufacturer", "Catalog", FormMethod.Post))
    {
          Html.RenderPartial("ManufacturerMenu",this.Model.Manufacturer);
        
        
        <div class="tab_main_order col-md-12">
            <ul id="myTab" role="tablist" class="tabview_order_ul">

                <li class="active cctv_resp_li" role="presentation"><a aria-expanded="true" aria-controls="based" data-toggle="tab" role="tab" id="home-tab" href="#info">INFO</a></li>

                <li role="presentation our_value" class="control_resp_li"><a aria-controls="profile" data-toggle="tab" id="profile-tab" role="tab" href="#products">PRODUCTS</a></li>

            </ul>
        </div>

        <div class="tab_side_solutions col-md-12">
            <div class="tab-content tab_content_solutions" id="myTabContent">
                <div aria-labelledby="home-tab" id="info" class="tab-pane fade in active  " role="tabpanel">
                    @{
                    Html.RenderPartial("ManufacturerInfo", this.Model);
                    }
                </div>
                <div aria-labelledby="home-tab" id="products" class="tab-pane fade " role="tabpanel">
                   @Html.Action("ManufacturerProduct", new { Id = Model.Manufacturer.Id })
                </div>
            </div>
        </div>
    }
</div>

@section scripts {

    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            var CategoryId = @Html.Raw(Json.Encode(Model.Manufacturer.Id));
            $(document).on("click", "#contentPager a[href]", function () {
                $.ajax({
                    data: {Id : CategoryId},
                    url: $(this).attr("href"),
                    cache: false,
                    type: "GET",
                    success: function (data) {
                        $('#manprod').html(data);
                    }
                });
                return false;
            });
        });
    </script>
}






















