@model Orbio.Web.UI.Areas.Admin.Models.Catalog.CategoryDetailModel


<div class="col-md-12">
    <h3>Discounts</h3>
    <table class="product_add_cart">
        <thead>
        <th></th></thead>
        <tbody>
            @if (this.Model.Discount != null)
            {
                if (this.Model.Discount.Count > 0)
                {
                    foreach (var item in this.Model.Discount)
                    {
                        <tr>
                            <td style="float:left">@item.Name</td>
                            <td></td>
                        </tr>
                    }
                }
                else
                {
                    <tr style="display: table-row;">
                        <td>No discounts available</td>

                    </tr>
                }
            }
            else
            {
                <tr style="display: table-row;">
                    <td>No discounts available</td>

                </tr>
            }
        </tbody>
    </table>
</div>