@model Orbio.Web.UI.Areas.Admin.Models.Catalog.ManufacturerDetailModel

<div class="col-md-12">
    <table class="product_add_cart">
        <thead>
        <td>Product</td>
        <td>Is featured product?</td>
        <td>Display order</td>
        <td>Delete</td>
        </thead>
        <tbody>
            @if (this.Model.Products != null)
            {
                if (this.Model.Products.Count > 0)
                {
                    foreach (var item in this.Model.Products)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.IsFeaturedProduct</td>
                            <td>@item.DisplayOrder</td>
                            <td><a href="@Url.Action("DeleteManufacturerProduct", "Catalog", new { Id = Model.Manufacturer.Id, pId = item.Id })"><label class="delete_ring" onclick=" return confirm('Are You Sure'); "></label></a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr style="display: table-row;">
                        <td colspan="4"> No products available</td>
                    </tr>
                }
            }
            else
            {
                <tr style="display: table-row;">
                    <td colspan="4"> No products available</td>
                </tr>
            }
        </tbody>
    </table>
</div>


