@model Orbio.Web.UI.Areas.Admin.Models.Product.ProductModel
<div class="description_area">
    <div class="row">
        <div class="col-md-2 prdct_name" style="width:22%">Search engine friendly page name :</div><div class="col-md-3">@Html.TextBoxFor(model => model.SeName, new { @class = "prdct_name_txt",id="slug" })</div>
        <div class="col-md-2 prdct_name left_side_text_name" style="width:14%"> Meta title :</div><div class="col-md-3">@Html.TextBoxFor(model => model.MetaTitle, new { @class = "prdct_name_txt"})</div>

    </div>
    <div class="row">
    <div class="col-md-2 prdct_name">Meta Description :</div><div class="col-md-4" style="margin-left:60px;width:294px">@Html.TextAreaFor(model => model.MetaDescription, new { @class = "short_description_txt_area"})</div>
        <div class="col-md-2 prdct_name" style="width: 14%;">Meta keywords :</div><div class="col-md-4">
            @Html.TextAreaFor(model => model.MetaKeywords, new { @class = "short_description_txt_area", style = "width:73%" })
        </div>
    </div>
</div>
