@{
    ViewBag.Title = "AboutUs";
}


<section class="static_page">
    <div class="container">
        <div class="static_tab" style="padding-bottom: 100px;">
            <ul role="tablist" class="nav nav-tabs" id="myTab">
                <li class="active" role="presentation"><a aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" id="home-tab" href="#home">ABOUT US</a></li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div aria-labelledby="home-tab" id="home" class="tab-pane fade in active" role="tabpanel" style="display:inline;opacity: 1">
                    @*<img class=" " src=" " />*@
                    <div class="Main_head" align="center"><h1 class="static_head"><span>Our History</span></h1></div>


                    <p>Alukkas, the No.1 jewellery in India and the only Indian is a buyers paradise. It has an exclusive floor for diamonds, which is the biggest diamond gallery in Kerala. Huge collection of Navarathna Jewelry, Wedding sets, Frenzy collection sets, Solitaire collections and Biggest collection of spiritual jewellery.</p>

                    <p>Alukkas's story started about 50 years back in Thrissur, The cultural capital of Kerala. Probably the cultural competence of Thrissur has also made the town very rich in tradition of jewellery. Without doubt today Thrissur is one of the most important places for jewellery manufacturing in the country. Way back in1960, for A. J. Varghese, the founder, a salesman himself, a shop of his own was a dream come true. His experience as a salesman helped him immensely in the retailing business, for he knew THE CUSTOMER' very well. His dreams to do some business took off but his was not a tall ambition, his aim was to do business by the best practices followed in the field and work hard to be the BEST.</p>

                    <p>He was a simple, God-fearing man and was known for his simplicity at the beginning of his career and for charity later on. He had a large family to care of. His wife was Mrs. Elia Varghese. The couple was blessed with  fifteen children – ten daughters and five sons. Mr. Jose, Mr. Paul, Mr. Francis, Mr.Joy  and Mr. Anto were the five sons. They grew into determined businessmen and were very futuristic. "Rare are leaders who inspire their team to look beyond immediate competition". Their father, a philanthropist instilled in them humanitarianism. And their big family taught them to share. Once Gautama Buddha said, "if one will consider his environment and the society he lives in, he will surely bevery successful in all his endeavours in the long run." And that was the blood and character of Alukkas.</p>

                    <p>The first shop was started very modestly in 1960, on High Road, Thrissur. It was only around 200 sq. ft. and was shifted later on to M. O. Road, its present location in Thrissur. The next move was one of the most important moves, i.e., a new showroom at Kozhikode (1984), opposite to Davison Theatre in Palayam Road, which was a real milestone in the map of Alukkas. They were received by an astounding response from the people of Calicut (Kozhikode). No doubt, any one would like the simple methods used in retailing because in those days the old rigid system of display was prevalent and the people were looking for a changeover – and in Alukkas they found what they were eagerly waiting for. So Alukkas boomed and took off in Calicut and there was no looking back after that. Today after four decades, it has not only held on to the vision to be a respected house of jewellery but also has gained tremendous strength by the number of outlets to its credit. It was not mere existence but the passionate drive to be the best which has made Alukkas the No. 1 jewellery in India.</p>

                    <img class="" src="" />
                    <div class="Main_head" align="center"><h1 class="static_head"><span>Francis Alukka</span></h1></div>
                    <p>Mr. Francis Alukka, the third of the five sons, was well aware of the initial hassles of establishing a firm, and from his young days, he had an eye for business. Today, Fancis Alukkas Jewellery had established itself as one of the most reputed jewellery chain and has to its support the unwavering customer trust. Francis Alukkas has imbibed the finest craftsmanship from its legacy. The creations are an expression of the wonderful designs and talents of India. All his outlets at Kannur, Thalassery, Vadakara, Kozhikode, Kalpetta and Cochin sell only 916 purity Hallmarked  jewellery and the customer can avail the services of gold testing machines to determine the purity of the jewellery. More over, the gold jewellery is purchased at the wholesale trade centre in Kozhikode and the wholesale office in Thrissur which simply enables to sell gold at the wholesale prices to the consumers.</p>
                    <p>The Corporate Office and residence of Mr. Francis Alukkas is in Kozhikode. His wife Mrs. Princy Francis is also very supportive in the business. His children, Varghese Alukka and Maria Francis.</p>



                    <div class="Main_head" align="center"><h1 class="static_head"><span>Our Services</span></h1></div>
                    <p>If sale is important, service is much more important. A lifetime guarantee is provided for repairing. Since our showrooms are there in almost every district of Kerala State, one can always avail their assistance.</p>
                    <p>22 Karat gold is exchanged without any loss. Gold purchase from our showrooms can be encashed at the maximum market purchase price. Diamonds are sold only with guarantee certificates and can be exchanged at any time without any loss in diamond or gold value. Platinum jewelry is authorized by the Platinum Guild International (PGI) and certified by United Laboratories.</p>
                    <p>
                        Our constant communication with the consumers through our newsletters and advertisements will provide information on the latest products, offers and schemes beneficial to the customers.

                    </p>

                </div>


</div>
</div>
</div>
</section>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
            // Show or hide the sticky footer button
            $(window).scroll(function() {
                if ($(this).scrollTop() > 200) {
                    $('.scroll_top').fadeIn(200);
                } else {
                    $('.scroll_top').fadeOut(200);
                }
            });

            // Animate the scroll to top
            $('.scroll_top').click(function(event) {
                event.preventDefault();

                $('html, body').animate({scrollTop: 0}, 300);
            })
        });
</script>