@{
    ViewBag.Title = "BuyBackPolicy";
}

<section class="static_page">

    <div class="container">
        <div class="static_tab" style="padding-bottom: 100px;">
            <ul role="tablist" class="nav nav-tabs" id="myTab">
                <li class="active" role="presentation"><a aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" id="home-tab" href="#home">BuyBack Policy</a></li>
            </ul>
            <div aria-labelledby="carrer-tab" id="carrer" class="tab-pane fade" role="tabpanel" style="display:inline">
                <p>
                    We offer a Lifetime buyback Policy on all purchases made from francisalukkas, within India.
                    Your product's price is calculated compared against the current value of gold,current price and specifications of  diamonds and other gemstones for your product. We will deduct 15% of this amount, subject to a minimum of Rs. 2,000.You will be encashed and the payment will be transferd to respective credit card or Net-Bank account with the reference of francisalukkas.com records.
                </p>
            </div>
        </div>
    </div>
</section>

