@{
    ViewBag.Title = "CancellationPolicy";
}

<section class="static_page">

    <div class="container">
        <div class="static_tab" style="padding-bottom: 100px;">
            <ul role="tablist" class="nav nav-tabs" id="myTab">
                <li class="active" role="presentation"><a aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" id="home-tab" href="#home">Cancellation Policy</a></li>
            </ul>
            <div aria-labelledby="blog-tab" id="blog" class="tab-pane fade" role="tabpanel" style="display:inline;opacity: 1">
                <h4>Cancellation by francisalukkas</h4>
                <p>We make every effort to fulfil all the orders placed. However, please note that there may be certain orders that francisalukkas is unable to process; and reserve the rights to cancel or reject the acceptance of such order and decision of francisalukkas in this respect shall be final and binding on the customer. </p>
                <p>
                    The reasons include inaccuracies or errors in product, pricing,stock information and scheme information, problems identified by our credit, fraud avoidance department or due to certain unforeseen reasons.
                    Our Customer Care Team will communicate to you if all or any portion of your order is cancelled. If your order is cancelled after your credit card has been charged, the said amount will be reversed back in your Card Account.
                </p>
                <h4>Cancellation by the Customer</h4>
                <p>Cancellation by the Customer shall be valid only if made within 24 hours of placing the order. Please contact our Customer Care in case you wish to cancel the Order. For cancelling the Order, the Customer shall be required to send an email to ask@francisalukkas.com, with the invoice number along with the description of the product you wish to cancel.</p>
                <p>On receipt of the cancellation notice we shall cancel the order and refund the entire amount if the order has not been processed (Shipped or activated the scheme account) by us.</p>
            </div>
        </div>
    </div>
</section>

