@{
    ViewBag.Title = "DoubleValue";
}

<section class="static_page">

    <div class="container">
        <div class="static_tab" style="padding-bottom: 100px;">
            <ul role="tablist" class="nav nav-tabs" id="myTab">
                <li class="active" role="presentation"><a aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" id="home-tab" href="#home">Double Value</a></li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <!-- double value-->
                <div aria-labelledby="profile-tab" id="profile" class="tab-pane fade in active" role="tabpanel" style="display:inline">

                    <p>A Scheme where a single investment fetches you Double Value in 60 months.</p>

                    <p>For the Double Value Scheme, a subscriber can pay minimum amount of Rs. 10,000/- and join the scheme.</p>
                    <p>After the completion of five years each member will be eligible to buy gold with double the deposited amount.</p>
                    <p>The scheme membership cannot be transferred to any other person</p>
                    <p>India Government ID card is necessary for joining and closing of this purchase scheme subscription.</p>
                    <p>The subscriber can purchase gold ornaments/coin for the maturity value of the scheme.</p>
                    <p>Rate including making charge if any of the jewellery prevailing in the market on the date of purchase of the jewellery/coin of the same will be charged.</p>

                    <p>On such purchase, all due taxes of the Central/State government are to be paid by the subscriber extra.</p>
                    <p>Maximum period of this scheme will be five years.</p>
                </div>
            </div>
        </div>
        </div>
    </section>
