@{
    ViewBag.Title = "ExchangePolicy";
}

<section class="static_page">

    <div class="container">
        <div class="static_tab" style="padding-bottom: 100px;">
            <ul role="tablist" class="nav nav-tabs" id="myTab">
                <li class="active" role="presentation"><a aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" id="home-tab" href="#home">Exchange Policy</a></li>
            </ul>
            <div aria-labelledby="news-tab" id="news" class="tab-pane fade" role="tabpanel" style="display:inline">
                <p>We offer a Lifetime Exchange Policy on all purchases made from francisalukkas, within India. If the product, along with diamonds and gemstones, if any, is intact, you may return it for the current value of all the materials with a minor deduction towards melting and recovery costs.</p>
                <p>This means that your product's price and specifications will be compared against the current price and specifications listed on the website to calculate the current value of gold, diamonds and other gemstones for your product. We will deduct 15% of this amount, subject to a minimum of Rs. 2,000.This will be done on a per product basis, incase you are returning multiple products. You will be given a voucher for this value which remains valid for 12 months and can be used to purchase anything from francisalukkas. Please note that this voucher cannot be encashed.</p>
            </div>
        </div>
    </div>
</section>