@{
    ViewBag.Title = "GiftVoucher";
}

<section class="static_page">

    <div class="container">
        <div class="static_tab" style="padding-bottom: 100px;">
            <ul role="tablist" class="nav nav-tabs" id="myTab">
                <li class="active" role="presentation"><a aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" id="home-tab" href="#home">Gift Voucher</a></li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div aria-labelledby="news-tab" id="news" class="tab-pane fade in" role="tabpanel" style="display:inline">

                    <p>Our gift vouchers are a perfect gift that would be treasured for the years to come!!</p>

                    <p>You can gift this to anyone you want.</p>
                    <p>You have the facility of online purchase.</p>
                    <p>The scheme membership cannot be transferred to any other person</p>
                    <p>You have the choice to buy worth of gold or diamond ornaments according to recipients wish.</p>
                </div>
            </div>
        </div>
    </div>
</section>
