@{
    ViewBag.Title = "Home Page";
}
   <div class="Fashion">
    <img src="images/slider/shop-gold-diamond-image.png" alt="" class="fashion_banner">
    <div>
    <a class="gold_shop"><span></span> </a>
    <div class="men_icon"></div>
    </div>
    <div>
    <a class="diamond_shop"><span></span></a>
    <div class="women_icon"></div>
    </div>
    </div>
    
    <div class="fashion_details">
    <div class="container">
    <div class="col-md-4 col-sm-4">
    <div class="main_grid">
    <h1>BIRTHSTONES</h1>
    <img src="images/Basic_image/Francis-alukkas-Birthstone.png" >
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    <a href="">Know Now >></a>
    </div>
    </div>

    <div class="col-md-4 col-sm-4">
    <div class="main_grid">
    <h1>EASY GOLD</h1>
    <img src="images/Basic_image/Francis-alukkas-easygold.png" >
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    <a href="">Know Now >></a>
    </div>
    </div>

    <!--<div class="col-md-3 col-sm-4">
    <div class="main_grid">
    <h1>DOUBLE VALUE</h1>
    <img src="images/Basic_image/Francis-alukkas-double-value.png" >
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    <a href="">Know Now >></a>
    </div>
    </div>-->

    <div class="col-md-4 col-sm-4">
    <div class="main_grid">
    <h1>GIFT VOUCHER</h1>
    <img src="images/Basic_image/Francis-alukkas-gift-vouchers.png" >
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    <a href="">Know Now >></a>
    </div>
    </div>

    </div>
    </div>
@section scripts{
    <script  type="text/javascript">

        //jQuery(document).ready(function () {
        //    jQuery('ul.sf-menu').superfish();
        //});

        </script>
              <script type="text/javascript">
                  //$(function () {
                  //    $('#ei-slider').eislideshow({
                  //        animation: 'center',
                  //        autoplay: true,
                  //        slideshow_interval: 3000,
                  //        titlesFactor: 0
                  //    });
                  //});


                  // Carousel Auto-Cycle
                  //$(document).ready(function () {
                  //    $('.carousel').carousel({
                  //        interval: 3000
                  //    })
                  //});


                  //Listview

                 // $('.listview button').on('click', function (e) {
                 //     if ($(this).hasClass('three_view')) {
                 //         $('.featured_items ul').removeClass('four_items');
                 //     }
                 //     else if ($(this).hasClass('four_view')) {
                 //         $('.featured_items ul').addClass('four_items');
                 //     }
                 // });

                 // $('.listview button').click(function (e) {
                 //     e.preventDefault(); //prevent the link from being followed
                 //     $('.listview button').removeClass('selected');
                 //     $(this).addClass('selected');
                 // });


                 // /*Price slider */

                 // $("[data-slider]")
                 //.each(function () {
                 //    var input = $(this);
                 //    $("<span>")
                 //      .addClass("output")
                 //      .insertAfter($(this));
                 //})
                 //.bind("slider:ready slider:changed", function (event, data) {
                 //    $(this)
                 //      .nextAll(".output:first")
                 //        .html(data.value.toFixed(3));
                 //});
        </script>
        <script type="text/javascript">
            //$(document).ready(function () {

            //    $("#range_1").ionRangeSlider({
            //        min: 0,
            //        max: 5000,
            //        from: 0,
            //        to: 4000,
            //        type: 'double',
            //        step: 1,
            //        prefix: "",
            //        prettify: true,
            //        hasGrid: true
            //    });

            //});

            //scroll

            //var _gaq = _gaq || [];
            //_gaq.push(['_setAccount', 'UA-36251023-1']);
            //_gaq.push(['_setDomainName', 'jqueryscript.net']);
            //_gaq.push(['_trackPageview']);

            //(function () {
            //    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            //    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            //    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            //})();

            $(document).ready(function () {
                // Show or hide the sticky footer button
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 200) {
                        $('.to-top').fadeIn(200);
                    } else {
                        $('.to-top').fadeOut(200);
                    }
                });

                // Animate the scroll to top
                $('.to-top').click(function (event) {
                    event.preventDefault();

                    $('html, body').animate({ scrollTop: 0 }, 300);
                })
            });



            $(document).ready(function () {

                $("#toggle").click(function () {
                    $(".target").slideToggle('slow', function () {
                        $(".log").text('Toggle Transition Complete');
                    });
                });

            });
</script>
}