@*@model  Orbio.Web.UI.Models.Home.PriceBarModel
<div class="second_menu">
  <div class="container">
  <ul class="menu_desc">
  <li><a href="">20 Oct 2014</a></li>
  <li><a href="">22K Gold/gm</a></li>
  <li><a href="">Kerela: <span>2560.00(15)</span></a></li>
  <li><a href="">Tamilnadu: <span>2569.00(14)</span></a></li>
  <li class="select_menu"><a><select class="menu_select">
<option>All</option>
<option>2</option>
</select>
<input type="text" class="select_text">
<input type="submit" class="search_butt" value="">
  </a></li>
  <li class="item_span"><a href=""><i class="item_icon"></i><span>0</span> items</a></li>
  <li class="user"><a href="@Url.Action("MyAccount", "Customer")">HI @Model.UserNameOrEmail!</a></li>
  </ul>
  </div>
  </div>*@