@{
    ViewBag.Title = "ShippingPolicy";
}

<section class="static_page">

    <div class="container">
        <div class="static_tab" style="padding-bottom: 100px;">
            <ul role="tablist" class="nav nav-tabs" id="myTab">
                <li class="active" role="presentation"><a aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" id="home-tab" href="#home">Shipping Policy</a></li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <!-- About us-->
                <div aria-labelledby="home-tab" id="home" class="tab-pane fade in active" role="tabpanel" style="display:inline">
                    <div class="Main_head" align="center"><h1 class="static_head"><span>SHIPPING POLICY</span></h1></div>
                    <p>Francis Alukkas provides free delivery/shipping on all items within India. Shipping time is 24-48hrs for "Available in Stock" items and 15 business days for "Make to Order" items. Currently, each order may be shipped only to a single shipping address. If you wish to ship products to different addresses, you need to place different order for different shipping address.</p>


                </div>
            </div>
        </div>
        </div>
    </section>
