@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}
@using PagedList.Mvc

<div class="container">
    <div class="main_edit_order">
        <span class="edit_order_details"><span class="edit_order_icon"></span><a href="" class="add_new_check">Message Template</a></span>
        <span class="back_to_order" style="padding-top:0px">
            <a href="@Url.Action("Add","MessageTemplate")"><input type="button" value="Add New" class="add_cat_button" /></a>
        </span>
    </div>
    <div class="col-md-12" style=" margin-bottom: 34px;background-color: #fff;margin-top: 10px;">
        @Html.Action("MessageTemplateList", "MessageTemplate")
    </div>
</div>
