@model Orbio.Web.UI.Models.Orders.OrderDetailsModel

@{
    ViewBag.Title = "Order";
    Layout = null;
 }

<div class="tab-pane second-account" id="myaccount">
    @{
        Html.RenderPartial("OrderDetails", this.Model.OrderedProductDetail);
    }
</div>

