@model Orbio.Web.UI.Areas.Admin.Models.Component.PriceComponentModel

<h3>NEW PRICE COMPONENT</h3>
@*<form action="" method="">*@
@using (Html.BeginForm("AddOrUpdatePriceComponent", "Component", FormMethod.Post, new { }))
{
    @Html.HiddenFor(m => m.Id, new { Value = Model.Id })
    @Html.TextBoxFor(m => m.Name, new { @class = "text_sku", required = "required", @placeholder = "Name" })
    <div class="form-group">
        <label style="font-size: small;padding-left: 5px;"> Is Active : </label>
        @Html.CheckBoxFor(m => m.IsActive, new { @class = "show_on_home_page_check", @style = "top:0px;" })
    </div>
    <input type="submit" value="Add PRICE COMPONENT" class="add_product_submit">
}