@model Orbio.Web.UI.Areas.Admin.Models.Orders.OrderModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}
<section class="wp-bestseller wp-product-edit">
    <div class="container">
        <div class="main_edit_order">
            <span class="edit_order_details"><span class="edit_order_icon"></span><a href="">Edit order details</a></span>
            <span class="back_to_order"><u><a href="@Url.Action("List","Order")">Back to order list</a></u></span>
        </div>
        <div class="order_no col-md-12">
            <div class="col-md-3">
                <p>order no - @Model.Id</p>
            </div>
            <div class="reader_icons">
                <span><a href="" class="adobe_icon"></a></span>
                <span>
                <a href="@Url.Action("Delete", "Order", new { id = this.Model.Id })" class="close_icon"></a></span>
            </div>
        </div>
        <div class="tab_main_order col-md-12">
            <ul id="myTab" role="tablist" class="tabview_order_ul">

                <li class="active cctv_resp_li" role="presentation" id="cctv"><a aria-expanded="true" aria-controls="based" data-toggle="tab" role="tab" id="home-tab" href="#info">INFO</a></li>

                <li role="presentation our_value" class="control_resp_li" id="acesscntrlsystem"><a aria-controls="profile" data-toggle="tab" id="profile-tab" role="tab" href="#address">ADDRESS</a></li>

                <li role="presentation" class="gate_resp_li" id="gatebarriers"><a aria-controls="wireless" data-toggle="tab" role="tab" href="#order_notes">ORDER NOTES</a></li>

            </ul>
        </div>
        @Html.Partial("_OrderDetailsInfo", Model)
    </div>
</section>
@section scripts{

<script type="text/javascript">

        $("#shipping_DateShipped").kendoDateTimePicker({
            value: new Date()
        });
        $("#shipping_DateDelivered").kendoDateTimePicker({
            value: new Date()
        });
    $(".edit_order_total").click(function () {
        $(".free_shipping").show();
    });


            $(document).ready(function() {
                $('#tableData').paging({limit:4});
            });
            $(document).ready(function() {
                $('#tableData1').paging({limit:4});

            });
            $(document).ready(function() {
                $('#reltable').paging({limit:4});

            });
             $(document).ready(function() {
                $('#reltable1').paging({limit:4});

            });
             $(document).ready(function() {
                 $('#reltable2').paging({ limit: 4 });



             });
</script>
    }
