@model Orbio.Web.UI.Areas.Admin.Models.Orders.OrderModel
<tfoot><tr class="t-footer-template">
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>
    <div><strong>Summary</strong></div>
    <div>Profit: <span id="aggregator-profit-block">@Model.aggregatorprofit</span></div>
    <div>Shipping: <span id="aggregator-shipping-block">@Model.aggregatorshipping</span></div>
    <div>Tax: <span id="aggregator-tax-block">@Model.aggregatortax</span></div>
    <div>Total: <span id="aggregator-total-block">@Model.aggregatortotal</span></div>
    </td><td>&nbsp;</td></tr></tfoot>

