@model Orbio.Web.UI.Models.Orders.ShoppingCartItemsModel
<section class="main_shop_cart">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Shopping cart</li>
        </ol>


        <div class="shopping_cart">
            <h1>MY SHOPPING CART</h1>
            @using (Html.BeginForm("Cart", "ShoppingCart", FormMethod.Post, new { Id = "formCartProduct" }))
            {
                <table cellpadding="0" cellspacing="0" width="100%" class="shopping_table">
                    <tr>
                        <th width="150" class="item_table">Item</th>
                        <th width="30%"></th>
                        <th>Remove</th>
                        <th>Quantity</th>
                        <th>Item Price</th>
                        <th>Total Price</th>
                    </tr>
                    @{
                Html.RenderPartial("OrderSummary", this.Model.CartDetail);
                    }
                </table>


                <div class="shop_promation">
                    <ul>
                        <li class="promat">ENTER A PROMOTIONAL CODE</li>
                        <li><input type="text" class=""></li>
                        <li><input type="submit" class="green_butt" value="update cart"></li>
                    </ul>
                </div>
            }
            <div class="shop_status">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="check_deliver">
                            <p>Check Delivery Information</p>
                            <input type="text" placeholder="Enter your pincode" class="pincode">
                            <input type="submit" value="Check" class="blue_butt">
                        </div>

                        <div class="shop_payment">
                            <p>Payment Methods</p>

                            <ul class="foot_menu clearfix">
                                <li><a href="" class="visa_met"></a></li>
                                <li><a href="" class="discover_met"></a></li>
                                <li><a href="" class="american_met"></a></li>
                                <li><a href="" class="master_met"></a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-sm-4">

                        <div class="cart_total">
                            <dl class="dl-horizontal">
                                <dt>Cart Sub Total</dt>
                                <dd>@ViewBag.Currencycode.@ViewBag.subtotal</dd>
                                <dt>Shipping Charges</dt>
                                <dd>0</dd>
                                <dt>Promotional Discounts</dt>
                                <dd>0</dd>
                                <dt>Estimated Tax</dt>
                                <dd>0</dd>
                                <dt class="cart_total">Total</dt>
                                <dd class="cart_total">@ViewBag.Currencycode.@ViewBag.subtotal</dd>
                            </dl>
                        </div>

                    </div>

                </div>

            </div>


        </div>

        <div class="shop_stat_butt">
            <div class="row">
                <div class="col-sm-8">
                    <a href="@Url.Action("ContinueShopping", "ShoppingCart")"><input type="submit" class="continue_shop" value="CONTINUE SHOPPING"></a>
</div>

                <div class="col-sm-4">
                    <a href="@Url.Action("Address","CheckOut")"><input type="submit" class="continue_check" value="PROCEED TO CHECKOUT"></a>
                </div>
            </div>
        </div>
    </div>
</section>
