@model Orbio.Web.UI.Models.Orders.ShoppingCartItemsModel
           @{
               var count = Model.CartDetail;
           }
<li class="cart_item"><a href="@Url.RouteUrl("ShoppingCart")">@((count.Count > 0)?count[0].Itemcount :0) ITEMS <i class="mnu_item_icon"></i></a></li>
