<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li class="active"><a href="index.html" class="home"></a></li>
        <li class="dropdown">
            <a href="@Url.RouteUrl("Category", new { SeName = "electronics" })?p=ct" id="somediv" class="dropdown-toggle somediv" data-toggle="dropdown">Electronics<i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu">
                <li>
                    <div class="row">
                        <div class="container">
                            <div class="col-sm-2">
                                <h3>CLOTHING</h3>
                                <ul>
                                    <li><a href="">Polos & Tees</a></li>
                                    <li><a href="">Casual shirts</a></li>
                                    <li><a href="">Casual Trousers</a></li>
                                    <li><a href="">Jeans</a></li>
                                    <li><a href="">Shorts & 3/4Ths</a></li>
                                    <li><a href="">Formal shirts</a></li>
                                    <li><a href="">Formal Trousers</a></li>
                                    <li><a href="">Suits & Blazers</a></li>
                                    <li><a href="">Inner Wear</a></li>
                                    <li><a href="">Track Wear</a></li>
                                    <li><a href="">Tie & Cuffilinks</a></li>
                                    <li><a href="">Socks</a></li>
                                    <li><a href="">Ethnic Wear</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-2">
                                <h3>ACCESSORIES</h3>
                                <ul>
                                    <li><a href="">Bags & Backpacks</a></li>
                                    <li><a href="">Belts, Ties & Cuffilinks</a></li>
                                    <li><a href="">Caps & hats</a></li>
                                    <li><a href="">Jewellery</a></li>
                                    <li><a href="">Sunglasses</a></li>
                                    <li><a href="">wallets</a></li>
                                    <li><a href="">watches</a></li>
                                </ul>
                                <div class="second_menu">
                                    <h3>GROOMING</h3>
                                    <ul>
                                        <li><a href="">Deos & Perfumes</a></li>
                                        <li><a href="">Bath, body & skin care</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <h3>FOOTWEAR</h3>
                                <ul>
                                    <li><a href="">Casual shoes</a></li>
                                    <li><a href="">Sports shoes</a></li>
                                    <li><a href="">Formal sheos</a></li>
                                    <li><a href="">Casual & Sports Sandals</a></li>
                                    <li><a href="">Slippers & Flip Flops</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">

                                <div class="menu_drop_rgt">
                                    <img src="images/Basic_image/Esybuy-menu.jpg" alt="image06" />
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" id="somediv" onclick="location.href='deal.html'" class="dropdown-toggle somediv" data-toggle="dropdown">Men<i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu">
                <li>
                    <div class="row">
                        <div class="container">
                            <div class="col-sm-2">
                                <h3>CLOTHING</h3>
                                <ul>
                                    <li><a href="">Polos & Tees</a></li>
                                    <li><a href="">Casual shirts</a></li>
                                    <li><a href="">Casual Trousers</a></li>
                                    <li><a href="">Jeans</a></li>
                                    <li><a href="">Shorts & 3/4Ths</a></li>
                                    <li><a href="">Formal shirts</a></li>
                                    <li><a href="">Formal Trousers</a></li>
                                    <li><a href="">Suits & Blazers</a></li>
                                    <li><a href="">Inner Wear</a></li>
                                    <li><a href="">Track Wear</a></li>
                                    <li><a href="">Tie & Cuffilinks</a></li>
                                    <li><a href="">Socks</a></li>
                                    <li><a href="">Ethnic Wear</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-2">
                                <h3>ACCESSORIES</h3>
                                <ul>
                                    <li><a href="">Bags & Backpacks</a></li>
                                    <li><a href="">Belts, Ties & Cuffilinks</a></li>
                                    <li><a href="">Caps & hats</a></li>
                                    <li><a href="">Jewellery</a></li>
                                    <li><a href="">Sunglasses</a></li>
                                    <li><a href="">wallets</a></li>
                                    <li><a href="">watches</a></li>
                                </ul>
                                <div class="second_menu">
                                    <h3>GROOMING</h3>
                                    <ul>
                                        <li><a href="">Deos & Perfumes</a></li>
                                        <li><a href="">Bath, body & skin care</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <h3>FOOTWEAR</h3>
                                <ul>
                                    <li><a href="">Casual shoes</a></li>
                                    <li><a href="">Sports shoes</a></li>
                                    <li><a href="">Formal sheos</a></li>
                                    <li><a href="">Casual & Sports Sandals</a></li>
                                    <li><a href="">Slippers & Flip Flops</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">

                                <div class="menu_drop_rgt">
                                    <img src="images/Basic_image/Esybuy-menu.jpg" alt="image06" />
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Women<i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu">
                <li>
                    <div class="row">
                        <div class="container">
                            <div class="col-sm-2">
                                <h3>CLOTHING</h3>
                                <ul>
                                    <li><a href="">Polos & Tees</a></li>
                                    <li><a href="">Casual shirts</a></li>
                                    <li><a href="">Casual Trousers</a></li>
                                    <li><a href="">Jeans</a></li>
                                    <li><a href="">Shorts & 3/4Ths</a></li>
                                    <li><a href="">Formal shirts</a></li>
                                    <li><a href="">Formal Trousers</a></li>
                                    <li><a href="">Suits & Blazers</a></li>
                                    <li><a href="">Inner Wear</a></li>
                                    <li><a href="">Track Wear</a></li>
                                    <li><a href="">Tie & Cuffilinks</a></li>
                                    <li><a href="">Socks</a></li>
                                    <li><a href="">Ethnic Wear</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-2">
                                <h3>ACCESSORIES</h3>
                                <ul>
                                    <li><a href="">Bags & Backpacks</a></li>
                                    <li><a href="">Belts, Ties & Cuffilinks</a></li>
                                    <li><a href="">Caps & hats</a></li>
                                    <li><a href="">Jewellery</a></li>
                                    <li><a href="">Sunglasses</a></li>
                                    <li><a href="">wallets</a></li>
                                    <li><a href="">watches</a></li>
                                </ul>
                                <div class="second_menu">
                                    <h3>GROOMING</h3>
                                    <ul>
                                        <li><a href="">Deos & Perfumes</a></li>
                                        <li><a href="">Bath, body & skin care</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <h3>FOOTWEAR</h3>
                                <ul>
                                    <li><a href="">Casual shoes</a></li>
                                    <li><a href="">Sports shoes</a></li>
                                    <li><a href="">Formal sheos</a></li>
                                    <li><a href="">Casual & Sports Sandals</a></li>
                                    <li><a href="">Slippers & Flip Flops</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">

                                <div class="menu_drop_rgt">
                                    <img src="images/Basic_image/Esybuy-menu.jpg" alt="image06" />
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home & Kitchen <i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu">
                <li>
                    <div class="row">
                        <div class="container">
                            <div class="col-sm-2">
                                <h3>CLOTHING</h3>
                                <ul>
                                    <li><a href="">Polos & Tees</a></li>
                                    <li><a href="">Casual shirts</a></li>
                                    <li><a href="">Casual Trousers</a></li>
                                    <li><a href="">Jeans</a></li>
                                    <li><a href="">Shorts & 3/4Ths</a></li>
                                    <li><a href="">Formal shirts</a></li>
                                    <li><a href="">Formal Trousers</a></li>
                                    <li><a href="">Suits & Blazers</a></li>
                                    <li><a href="">Inner Wear</a></li>
                                    <li><a href="">Track Wear</a></li>
                                    <li><a href="">Tie & Cuffilinks</a></li>
                                    <li><a href="">Socks</a></li>
                                    <li><a href="">Ethnic Wear</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-2">
                                <h3>ACCESSORIES</h3>
                                <ul>
                                    <li><a href="">Bags & Backpacks</a></li>
                                    <li><a href="">Belts, Ties & Cuffilinks</a></li>
                                    <li><a href="">Caps & hats</a></li>
                                    <li><a href="">Jewellery</a></li>
                                    <li><a href="">Sunglasses</a></li>
                                    <li><a href="">wallets</a></li>
                                    <li><a href="">watches</a></li>
                                </ul>
                                <div class="second_menu">
                                    <h3>GROOMING</h3>
                                    <ul>
                                        <li><a href="">Deos & Perfumes</a></li>
                                        <li><a href="">Bath, body & skin care</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <h3>FOOTWEAR</h3>
                                <ul>
                                    <li><a href="">Casual shoes</a></li>
                                    <li><a href="">Sports shoes</a></li>
                                    <li><a href="">Formal sheos</a></li>
                                    <li><a href="">Casual & Sports Sandals</a></li>
                                    <li><a href="">Slippers & Flip Flops</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">

                                <div class="menu_drop_rgt">
                                    <img src="images/Basic_image/Esybuy-menu.jpg" alt="image06" />
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">ESY Deals<i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu">
                <li>
                    <div class="row">
                        <div class="container">
                            <div class="col-sm-2">
                                <h3>CLOTHING</h3>
                                <ul>
                                    <li><a href="">Polos & Tees</a></li>
                                    <li><a href="">Casual shirts</a></li>
                                    <li><a href="">Casual Trousers</a></li>
                                    <li><a href="">Jeans</a></li>
                                    <li><a href="">Shorts & 3/4Ths</a></li>
                                    <li><a href="">Formal shirts</a></li>
                                    <li><a href="">Formal Trousers</a></li>
                                    <li><a href="">Suits & Blazers</a></li>
                                    <li><a href="">Inner Wear</a></li>
                                    <li><a href="">Track Wear</a></li>
                                    <li><a href="">Tie & Cuffilinks</a></li>
                                    <li><a href="">Socks</a></li>
                                    <li><a href="">Ethnic Wear</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-2">
                                <h3>ACCESSORIES</h3>
                                <ul>
                                    <li><a href="">Bags & Backpacks</a></li>
                                    <li><a href="">Belts, Ties & Cuffilinks</a></li>
                                    <li><a href="">Caps & hats</a></li>
                                    <li><a href="">Jewellery</a></li>
                                    <li><a href="">Sunglasses</a></li>
                                    <li><a href="">wallets</a></li>
                                    <li><a href="">watches</a></li>
                                </ul>
                                <div class="second_menu">
                                    <h3>GROOMING</h3>
                                    <ul>
                                        <li><a href="">Deos & Perfumes</a></li>
                                        <li><a href="">Bath, body & skin care</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <h3>FOOTWEAR</h3>
                                <ul>
                                    <li><a href="">Casual shoes</a></li>
                                    <li><a href="">Sports shoes</a></li>
                                    <li><a href="">Formal sheos</a></li>
                                    <li><a href="">Casual & Sports Sandals</a></li>
                                    <li><a href="">Slippers & Flip Flops</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">

                                <div class="menu_drop_rgt">
                                    <img src="images/Basic_image/Esybuy-menu.jpg" alt="image06" />
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gadgets under 99 aed<i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu">
                <li>
                    <div class="row">
                        <div class="container">
                            <div class="col-sm-2">
                                <h3>CLOTHING</h3>
                                <ul>
                                    <li><a href="">Polos & Tees</a></li>
                                    <li><a href="">Casual shirts</a></li>
                                    <li><a href="">Casual Trousers</a></li>
                                    <li><a href="">Jeans</a></li>
                                    <li><a href="">Shorts & 3/4Ths</a></li>
                                    <li><a href="">Formal shirts</a></li>
                                    <li><a href="">Formal Trousers</a></li>
                                    <li><a href="">Suits & Blazers</a></li>
                                    <li><a href="">Inner Wear</a></li>
                                    <li><a href="">Track Wear</a></li>
                                    <li><a href="">Tie & Cuffilinks</a></li>
                                    <li><a href="">Socks</a></li>
                                    <li><a href="">Ethnic Wear</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-2">
                                <h3>ACCESSORIES</h3>
                                <ul>
                                    <li><a href="">Bags & Backpacks</a></li>
                                    <li><a href="">Belts, Ties & Cuffilinks</a></li>
                                    <li><a href="">Caps & hats</a></li>
                                    <li><a href="">Jewellery</a></li>
                                    <li><a href="">Sunglasses</a></li>
                                    <li><a href="">wallets</a></li>
                                    <li><a href="">watches</a></li>
                                </ul>
                                <div class="second_menu">
                                    <h3>GROOMING</h3>
                                    <ul>
                                        <li><a href="">Deos & Perfumes</a></li>
                                        <li><a href="">Bath, body & skin care</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <h3>FOOTWEAR</h3>
                                <ul>
                                    <li><a href="">Casual shoes</a></li>
                                    <li><a href="">Sports shoes</a></li>
                                    <li><a href="">Formal sheos</a></li>
                                    <li><a href="">Casual & Sports Sandals</a></li>
                                    <li><a href="">Slippers & Flip Flops</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">

                                <div class="menu_drop_rgt">
                                    <img src="images/Basic_image/Esybuy-menu.jpg" alt="image06" />
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li class="scroll_search">
            <input type="text" class="header_search" autocomplete="off" placeholder="Search">
            <input type="button" class="search_butt">
        </li>
    </ul>
</div>