<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li class="active"><a href="index.html" class="home"></a></li>
        <li class="dropdown">
            <a href="@Url.RouteUrl("Category", new { SeName = "electronics" })?p=ct" id="somediv" class="dropdown-toggle somediv" data-toggle="dropdown">Electronics<i class="fa fa-angle-down"></i></a>

            <ul id="acc2" class="accordion">
                <li>
                    <h4>Mobile Phones</h4>
                    <div class="inner">
                        <ul>
                            <li><a onclick="location.href='/t/mobile-and-tablet/mobile?utf8=%E2%9C%93&amp;search[manufacturer_id_eq_any][]=15&amp;search[price_range_anya][]='">Samsung</a></li>
                            <li><a onclick="location.href='/t/mobile-and-tablet/mobile?utf8=%E2%9C%93&amp;search[manufacturer_id_eq_any][]=3&amp;search[price_range_anya][]='">Apple</a></li>
                            <li><a onclick="location.href='/t/mobile-and-tablet/mobile?utf8=%E2%9C%93&amp;search[manufacturer_id_eq_any][]=7&amp;search[price_range_anya][]='">HTC</a></li>
                            <li><a onclick="location.href='/t/mobile-and-tablet/mobile?utf8=%E2%9C%93&amp;search[manufacturer_id_eq_any][]=14&amp;search[price_range_anya][]='">Sony</a></li>
                            <li><a onclick="location.href='/t/mobile-and-tablet/mobile'">View All</a></li>

                        </ul>
                    </div>
                </li>
                <li>
                    <h4>Tablet</h4>
                    <div class="inner">
                        <ul>
                            <li><a onclick="location.href='/t/mobile-and-tablet/tablet/apple'">Apple</a></li>
                            <li><a onclick="location.href='/t/mobile-and-tablet/tablet/android-tablets'">Android Tablets</a></li>
                            <li><a onclick="location.href='/t/mobile-and-tablet/tablet/windows-tablets'">Windows Tablets</a></li>

                            <li><a onclick="location.href='/t/mobile-and-tablet/tablet'">View All</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <h4>Mobile Accessories</h4>
                    <div class="inner">
                        <ul>
                            <li><a onclick="location.href='t/mobile-and-tablet/accessories/cases-and-covers'">Cover &amp; Cases</a></li>
                            <li><a onclick="location.href='t/mobile-and-tablet/accessories/smart-watches'">Smart  Watches</a></li>
                            <li><a onclick="location.href='/t/mobile-and-tablet/accessories/power-bank'">Power Bank</a></li>
                            <li><a onclick="location.href='/t/mobile-and-tablet/accessories/memory-card'">Mobile Memory Card</a></li>
                            <li><a onclick="location.href='/t/mobile-and-tablet/accessories/speaker'">Mobile Speakers</a></li>
                            <li><a onclick="location.href='/t/mobile-and-tablet/accessories/portable-charger'">Portable Charger</a></li>
                            <li><a onclick="location.href='/t/mobile-and-tablet/accessories/headset'">Mobile Headphone</a></li>
                            <li><a onclick="location.href='/t/mobile-and-tablet/accessories'">View All</a></li>
                        </ul>
                    </div>
                </li>


                <li>
                    <h4>Laptop & PCs</h4>
                    <div class="inner">
                        <ul>
                            <li><a onclick="location.href='/t/it-and-software/laptops-and-pc?utf8=%E2%9C%93&amp;search%5Bmanufacturer_id_eq_any%5D%5B%5D=3&amp;search%5Bprice_range_anya%5D%5B%5D='">Apple</a></li>
                            <li><a onclick="location.href='/t/it-and-software/laptops-and-pc?utf8=%E2%9C%93&amp;search%5Bmanufacturer_id_eq_any%5D%5B%5D=2&amp;search%5Bprice_range_anya%5D%5B%5D='">HP</a></li>
                            <li><a onclick="location.href='/t/it-and-software/laptops-and-pc?utf8=%E2%9C%93&amp;search%5Bmanufacturer_id_eq_any%5D%5B%5D=19&amp;search%5Bprice_range_anya%5D%5B%5D='">Lenovo</a></li>
                            <li><a onclick="location.href='/t/it-and-software/laptops-and-pc?utf8=%E2%9C%93&amp;search%5Bmanufacturer_id_eq_any%5D%5B%5D=8&amp;search%5Bprice_range_anya%5D%5B%5D='">Toshiba</a></li>
                            <li><a onclick="location.href='/t/it-and-software/laptops-and-pc'">View All</a></li>
                        </ul>
                    </div>
                </li>


                <li>
                    <h4>Computer Accessories</h4>
                    <div class="inner">
                        <ul>
                            <li><a onclick="location.href='/t/it-and-software/software'">Softwares &amp; Antivirus</a></li>
                            <li><a onclick="location.href='/t/it-and-software/accessories/hard-disk'">External hard drive</a></li>
                            <li><a onclick="location.href='/t/accessories/it-accessories/mouse'">Mouse &amp; Keyboard</a></li>
                            <li><a onclick="location.href='/t/it-and-software/accessories/routers'">Wifi Routers</a></li>
                            <!-- <li><a href="/t/it-and-software/accessories/headset">Headphone</a></li> -->
                            <li><a onclick="location.href='/t/it-and-software/accessories/flash-drive'">Flash drive</a></li>
                            <li><a onclick="location.href='/t/it-and-software/accessories/speaker'">Computer speakers</a></li>
                            <li><a onclick="location.href='/t/it-and-software/accessories/printer-and-scanner'">Printers &amp; Scanners</a></li>
                            <li><a onclick="location.href='/t/it-and-software/accessories/laptop-bags'">Laptop Bags</a></li>

                            <li><a onclick="location.href='/t/it-and-software/accessories'">View All</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <h4>Television</h4>
                    <div class="inner">
                        <ul>
                            <li><a onclick="location.href='/t/audio-and-video/tv?utf8=%E2%9C%93&amp;search%5Bmanufacturer_id_eq_any%5D%5B%5D=15&amp;search%5Bprice_range_anya%5D%5B%5D='">Samsung</a></li>
                            <li><a onclick="location.href='/t/audio-and-video/tv?utf8=%E2%9C%93&amp;search%5Bmanufacturer_id_eq_any%5D%5B%5D=10&amp;search%5Bprice_range_anya%5D%5B%5D='">LG</a></li>
                            <li><a onclick="location.href='/t/audio-and-video/tv?utf8=%E2%9C%93&amp;search%5Bmanufacturer_id_eq_any%5D%5B%5D=14&amp;search%5Bprice_range_anya%5D%5B%5D='">Sony </a></li>
                            <li><a onclick="location.href='/t/audio-and-video/tv'">View All</a></li>

                        </ul>
                    </div>
                </li>


                <li>
                    <h4>Audio Video</h4>
                    <div class="inner">
                        <ul>
                            <li><a onclick="location.href='/t/audio-and-video/home-theatre'">Home Theater &amp; Speaker</a></li>
                            <li><a onclick="location.href='/t/accessories/audio-and-video/headphone'">Headphones</a></li>
                            <li><a onclick="location.href='/t/accessories/audio-and-video/mp3-and-mp4-player'">MP3 &amp; MP4 Players</a></li>
                            <li><a onclick="location.href='/t/audio-and-video'">View All</a></li>
                        </ul>
                    </div>
                </li>


                <li>
                    <h4>Camera</h4>
                    <div class="inner">
                        <ul>
                            <li><a onclick="location.href='/t/audio-and-video/camera/digital-camera'">Digital Cameras</a></li>
                            <li><a onclick="location.href='/t/audio-and-video/camera/dslr-camera'">DSLR Cameras</a></li>
                            <li><a onclick="location.href='/t/audio-and-video/camera/handy-camera'">Handy Cameras</a></li>
                            <li><a onclick="location.href='/t/audio-and-video/camera/sports-camera'">Sports Cameras</a></li>

                            <li><a onclick="location.href='/t/audio-and-video/camera'">View All</a></li>
                        </ul>
                    </div>
                </li>


                <li>
                    <h4>Camera Accessories</h4>
                    <div class="inner">
                        <ul>
                            <li><a onclick="location.href='/t/accessories/camera/lens'">Lenses &amp; Flash</a></li>
                            <li><a onclick="location.href='/t/accessories/camera/memory-card'">Camera Memory Card</a></li>
                            <li><a onclick="location.href='/t/accessories/camera/camera-bags'">Camera Bags </a></li>
                            <li><a onclick="location.href='/t/accessories/camera'">View All</a></li>

                        </ul>
                    </div>
                </li>


                <li>
                    <h4>Appliances</h4>
                    <div class="inner">
                        <ul>
                            <li><a onclick="location.href='/t/appliances/home-appliances'">Home Applainces</a></li>
                            <li><a onclick="location.href='/t/appliances/kitchen-appliances'">Kitchen Applianes</a></li>
                            <li><a onclick="location.href='/t/appliances'">View All</a></li>
                        </ul>
                    </div>
                </li>


                <li>
                    <h4>Personal Care</h4>
                    <div class="inner">
                        <ul>
                            <li><a onclick="location.href='/t/appliances/personal-care/trimmer-and-shaver'">Trimmers &amp; Shaver</a></li>
                            <li><a onclick="location.href='/t/appliances/personal-care/health-scale-and-monitors'">Health</a></li>
                            <li><a onclick="location.href='/t/appliances/personal-care/dental-care'">Dental Care</a></li>


                            <li><a onclick="location.href='#'">View All</a></li>
                        </ul>
                    </div>
                </li>


                <li>
                    <h4>Games</h4>
                    <div class="inner">
                        <ul>
                            <li><a onclick="location.href='/t/games/game-console'">Gaming Console</a></li>
                            <li><a onclick="location.href='/t/games/play-station'">Play Station</a></li>
                            <li><a onclick="location.href='/t/games/xbox'">Xbox</a></li>
                            <li><a onclick="location.href='/t/games/video-games'">Gaming CDs</a></li>
                            <li><a onclick="location.href='/t/games/accessories'">Gaming Accessories</a></li>
                            <li><a onclick="location.href='/t/games'">View All</a></li>

                        </ul>
                    </div>
                </li>


            </ul>



        </li>
        <li class="dropdown">
            <a href="@Url.RouteUrl("Category", new { SeName = "men" })?p=ct" id="somediv" class="dropdown-toggle somediv" data-toggle="dropdown">Men<i class="fa fa-angle-down"></i></a>
            <ul id="acc5" class="accordion">
                <li>
                    <h4>Clothing</h4>
                    <div class="inner">
                        <ul>
                            <li><a onclick="location.href='/t/fashion/men/clothing/shirts'">Shirts</a></li>
                            <li><a onclick="location.href='/t/fashion/men/clothing/t-shirts'">T-shirts</a></li>
                            <li><a onclick="location.href='/t/fashion/men/clothing/active-wear'">Active Wear</a></li>
                            <li><a onclick="location.href='/t/fashion/men/clothing'">View All</a></li>

                        </ul>

                    </div>
                </li>
                <li>
                    <h4>Men Accessories</h4>
                    <div class="inner">
                        <ul>
                            <li><a onclick="location.href='/t/fashion/men/accessories/wallet'">Wallets</a></li>
                            <li><a onclick="location.href='/t/fashion/men/accessories/cufflinks'">Cufflinks</a></li>
                            <li><a onclick="location.href='/t/fashion/men/accessories/bracelet'">Bracelets</a></li>
                            <li><a onclick="location.href='/t/fashion/men/accessories/caps'">Caps</a></li>
                            <li><a onclick="location.href='/t/fashion/men/accessories/neck-tie'">Neck Tie</a></li>
                            <li><a onclick="location.href='/t/fashion/men/accessories'">View All</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <h4>Watches</h4>
                    <div class="inner">
                        <ul>
                            <li><a onclick="location.href='/t/fashion/men/watches/sports-watch'">Sports Watches</a></li>
                            <li><a onclick="location.href='/t/fashion/men/watches/casual-watch'">Casual Watches</a></li>
                            <li><a onclick="location.href='/t/fashion/men/watches/luxury-watch'">Luxury Watches</a></li>
                            <li><a onclick="location.href='/t/fashion/men/watches/couple-watch'">Couples Watch</a></li>

                            <li><a onclick="location.href='/t/fashion/men/watches'">View All</a></li>

                        </ul>
                    </div>
                </li>


                <li>
                    <h4>Perfumes</h4>
                    <div class="inner">
                        <ul>
                            <li><a onclick="location.href='/t/fashion/men/perfumes/davidoff'">Davidoff</a></li>
                            <li><a onclick="location.href='/t/fashion/men/perfumes/lacoste'">Lacoste</a></li>
                            <li><a onclick="location.href='/t/fashion/men/perfumes/calvin-klein'">Calvin Klein</a></li>
                            <li><a onclick="location.href='/t/fashion/men/perfumes/gucci'">Gucci</a></li>
                            <li><a onclick="location.href='/t/fashion/men/perfumes/hugo-boss'">Hugo Boss</a></li>
                            <li><a onclick="location.href='/t/fashion/men/perfumes'">View All</a></li>

                        </ul>
                    </div>
                </li>


                <li>
                    <h4>Eye wear</h4>
                    <div class="inner">
                        <ul>
                            <li><a onclick="location.href='/t/fashion/men/eye-wear/sunglasses'">Sunglasses</a></li>
                            <li><a onclick="location.href='/t/fashion/men/eye-wear'">View All</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <h4>Bags</h4>
                    <div class="inner">
                        <ul>
                            <li><a onclick="location.href='/t/fashion/men/bags/sports-bags'">Sports Bags</a></li>
                            <li><a onclick="location.href='/t/fashion/men/bags/travel-bags'">Travel bags</a></li>
                            <li><a onclick="location.href='/t/fashion/men/bags/laptop-bags'">Laptop Bags</a></li>
                            <li><a onclick="location.href='/t/fashion/men/bags'">View All</a></li>
                        </ul>
                    </div>
                </li>


                <li>
                    <h4>Footwear</h4>
                    <div class="inner">
                        <ul>
                            <li><a onclick="location.href='/t/fashion/men/footwear/sports-shoes'">Sports Shoes</a></li>

                            <li><a onclick="location.href='/t/fashion/men/footwear'">View All</a></li>
                        </ul>
                    </div>
                </li>





            </ul>

        </li>
        <li class="dropdown">
            <a href="@Url.RouteUrl("Category", new { SeName = "women" })?p=ct" class="dropdown-toggle" data-toggle="dropdown">Women<i class="fa fa-angle-down"></i></a>
            <ul id="acc6" class="accordion">
                <li>
                    <h4>Clothing</h4>
                    <div class="inner">
                        <ul>
                            <li><a onclick="location.href='/t/fashion/women/clothing/dress'">Dresses</a></li>
                            <li><a onclick="location.href='/t/fashion/women/clothing/abaya-and-jalabiya'">Abaya &amp; Jalabiya</a></li>
                            <li><a onclick="location.href='/t/fashion/women/clothing/party-wear'">Party Wear</a></li>
                            <li><a onclick="location.href='/t/fashion/women/clothing/jumpsuits-and-playsuits'">Jumpsuits &amp; Playsuits</a></li>
                            <li><a onclick="location.href='/t/fashion/women/clothing/tops-and-blouse'">Tops &amp; Blouse</a></li>
                            <li><a onclick="location.href='/t/fashion/women/clothing/lingerie-and-nigthwears'">Lingerie &amp; Nigthwears</a></li>
                            <li><a onclick="location.href='/t/fashion/women/clothing/active-wear'">Active Wear</a></li>
                            <li><a onclick="location.href='/t/fashion/women/clothing/daily-wear'">Daily wear</a></li>
                            <li><a onclick="location.href='/t/fashion/women/clothing/casual-wear'">Casual Wear</a></li>
                            <li><a onclick="location.href='/t/fashion/women/clothing/pants-and-leggings'">Pants &amp; Leggings</a></li>
                            <li><a onclick="location.href='/t/fashion/women/clothing/skirt'">Skirts</a></li>
                            <li><a onclick="location.href='/t/fashion/women/clothing/cardigans-and-sweaters'">Cardigans &amp; Sweaters</a></li>
                            <li><a onclick="location.href='/t/fashion/women/clothing/tunic'">Tunic</a></li>
                            <li><a onclick="location.href='/t/fashion/women/clothing/kurti'">Kurti</a></li>
                            <li><a onclick="location.href='/t/fashion/women/clothing/gowns-and-maxi'">Gowns &amp; Maxi</a></li>
                            <li><a onclick="location.href='/t/fashion/women/clothing'">View All</a></li>

                        </ul>
                    </div>
                </li>


                <li>
                    <h4>Footwear</h4>
                    <div class="inner">
                        <ul>
                            <li><a onclick="location.href='/t/fashion/women/footwear/sports-shoes'">Sports Shoes</a></li>
                            <li><a onclick="location.href='/t/fashion/women/footwear/fashion-footwear'">Fashion Footwear</a></li>
                            <li><a onclick="location.href='/t/fashion/women/footwear'">View All</a></li>
                        </ul>

                    </div>
                </li>


                <li>
                    <h4>Eye wear</h4>
                    <div class="inner">
                        <ul>
                            <li><a onclick="location.href='/t/fashion/women/eye-wear/sunglasses'">Sunglasses</a></li>
                            <li>
                                <a onclick="location.href='/t/fashion/women/eye-wear'">View All</a>
                            </li>
                        </ul>
                    </div>
                </li>


                <li>
                    <h4>Accessories</h4>
                    <div class="inner">
                        <ul>
                            <li><a onclick="location.href='/t/fashion/women/accessories'">Fashion Accessories</a></li>
                            <li><a onclick="location.href='/t/fashion/women/jewellery'">Jewellery</a></li>

                            <li><a onclick="location.href='/t/fashion/women/accessories'">View All</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <h4>Bags</h4>
                    <div class="inner">
                        <ul>
                            <li><a onclick="location.href='/t/bags/handbags'">Handbags</a></li>
                            <li><a onclick="location.href='/t/bags/clutches'">Cluthes</a></li>
                            <li><a onclick="location.href='/t/accessories/it-accessories/laptop-bags'">Laptop Bags</a></li>
                            <li><a onclick="location.href='/t/bags/Back-Pack'">Backpacks</a></li>
                            <li><a onclick="location.href='/t/bags/travel-bags'">Travel Bags</a></li>
                            <li><a onclick="location.href='/t/bags/sports-and-gym-bags'">Sports Bags</a></li>

                            <li><a onclick="location.href='/t/bags'">View All</a></li>
                        </ul>
                    </div>
                </li>


                <li>
                    <h4>Watches</h4>
                    <div class="inner">
                        <ul>
                            <li><a onclick="location.href='/t/fashion/women/watches/sports-watch'">Sports Watches</a></li>
                            <li><a onclick="location.href='/t/fashion/women/watches/casual-watch'">Casual watches</a></li>
                            <li><a onclick="location.href='/t/fashion/women/watches/luxury-watch'">Luxury Watches</a></li>
                            <li><a onclick="location.href='/t/fashion/women/watches/trendy-watch'">Trendy Watches</a></li>
                            <li><a onclick="location.href='/t/fashion/women/watches/bling-watch'">Bling Watches</a></li>
                            <li><a onclick="location.href='/t/fashion/women/watches/couples-watch'">Couples Watch</a></li>
                            <li><a onclick="location.href='/t/fashion/women/watches/classic-watch'">Classic Watch</a></li>
                            <li><a onclick="location.href='/t/fashion/women/watches'">View All</a></li>
                        </ul>
                    </div>
                </li>


                <li>
                    <h4>Perfumes</h4>
                    <div class="inner">
                        <ul>
                            <li><a onclick="location.href='/t/fashion/women/perfumes/davidoff'">Davidoff</a></li>
                            <li><a onclick="location.href='/t/fashion/women/perfumes/lacoste'">Lacoste</a></li>
                            <li><a onclick="location.href='/t/fashion/women/perfumes/tommy-hilfiger'">Tommy Hilfiger</a></li>
                            <li><a onclick="location.href='/t/fashion/women/perfumes/gianni-versace'">Versace</a></li>
                            <li><a onclick="location.href='/t/fashion/women/perfumes/clinique'">Clinique</a></li>
                            <li><a onclick="location.href='/t/fashion/women/perfumes/elizabeth-arden'">Elizabeth Arden</a></li>
                            <li><a onclick="location.href='/t/fashion/women/perfumes/moschino'">Moschino </a></li>
                            <li><a onclick="location.href='/t/fashion/women/perfumes'">View All</a></li>
                        </ul>
                    </div>
                </li>


            </ul>

        </li>


        <li class="dropdown">
            <a href="/deals/hot-deals-fashion?t=esy-deals" class="dropdown-toggle" data-toggle="dropdown">ESYDEALS<i class="fa fa-angle-down"></i></a>

        </li>
        <li class="scroll_search">
            <input type="text" class="header_search" autocomplete="off" placeholder="Search">
            <input type="button" class="search_butt">
        </li>
    </ul>
</div>