<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li class="active"><a href="index.html" class="home"></a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Electronics<i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu">
                <li>
                    <div class="row">
                        <div class="container">
                            <div class="col-sm-2">
                                <h3><a href="http://www.esybuy.com/t/mobile-and-tablet/mobile">Mobile Phones</a></h3>
                                <ul>
                                    <li><a href="http://www.esybuy.com/t/mobile-and-tablet/mobile?utf8=%E2%9C%93&search[manufacturer_id_eq_any][]=15&search[price_range_anya][]=">Samsung</a></li>
                                    <li><a href="http://www.esybuy.com/t/mobile-and-tablet/mobile?utf8=%E2%9C%93&search[manufacturer_id_eq_any][]=3&search[price_range_anya][]=">Apple</a></li>
                                    <li><a href="http://www.esybuy.com/t/mobile-and-tablet/mobile?utf8=%E2%9C%93&search[manufacturer_id_eq_any][]=7&search[price_range_anya][]=">HTC</a></li>
                                    <li><a href="http://www.esybuy.com/t/mobile-and-tablet/mobile?utf8=%E2%9C%93&search[manufacturer_id_eq_any][]=14&search[price_range_anya][]=">Sony</a></li>
                                    <li><a href="http://www.esybuy.com/t/mobile-and-tablet/mobile">View All</a></li>

                                </ul>
                                <div class="second_menu">
                                    <h3><a href="http://www.esybuy.com/t/mobile-and-tablet/tablet">TABLET</a></h3>
                                    <ul>
                                        <li><a href="http://www.esybuy.com/t/mobile-and-tablet/tablet/apple">Apple</a></li>
                                        <li><a href="http://www.esybuy.com/t/mobile-and-tablet/tablet/android-tablets">Android Tablets</a></li>
                                        <li><a href="http://www.esybuy.com/t/mobile-and-tablet/tablet/windows-tablets">Windows Tablets</a></li>

                                        <li><a href="http://www.esybuy.com/t/mobile-and-tablet/tablet">View All</a></li>
                                    </ul>
                                </div>
                                <div class="third_menu">
                                    <p>
                                        <h3><a href="http://www.esybuy.com/t/mobile-and-tablet/accessories">Mobile Accessories</a></h3>
                                        <ul>
                                            <li><a href="http://www.esybuy.com/t/mobile-and-tablet/accessories/cases-and-covers">Cover & Cases</a></li>
                                            <li><a href="http://www.esybuy.com/t/mobile-and-tablet/accessories/smart-watches">Smart  Watches</a></li>
                                            <li><a href="http://www.esybuy.com/t/mobile-and-tablet/accessories/power-bank">Power Bank</a></li>
                                            <li><a href="http://www.esybuy.com/t/mobile-and-tablet/accessories/memory-card">Mobile Memory Card</a></li>
                                            <li><a href="http://www.esybuy.com/t/mobile-and-tablet/accessories/speaker">Mobile Speakers</a></li>
                                            <li><a href="http://www.esybuy.com/t/mobile-and-tablet/accessories/portable-charger">Portable Charger</a></li>
                                            <li><a href="http://www.esybuy.com/t/mobile-and-tablet/accessories/headset">Mobile Headphone</a></li>
                                            <li><a href="http://www.esybuy.com/t/mobile-and-tablet/accessories">View All</a></li>
                                        </ul>
                                    </p>

                                </div>
                            </div>
                            <div class="col-sm-2">
                                <h3><a href="http://www.esybuy.com/t/it-and-software/laptops-and-pc">Laptop & PCs</a></h3>
                                <ul>
                                    <li><a href="http://www.esybuy.com/t/it-and-software/laptops-and-pc?utf8=%E2%9C%93&search%5Bmanufacturer_id_eq_any%5D%5B%5D=3&search%5Bprice_range_anya%5D%5B%5D=">Apple</a></li>
                                    <li><a href="http://www.esybuy.com/t/it-and-software/laptops-and-pc?utf8=%E2%9C%93&search%5Bmanufacturer_id_eq_any%5D%5B%5D=2&search%5Bprice_range_anya%5D%5B%5D=">HP</a></li>
                                    <li><a href="http://www.esybuy.com/t/it-and-software/laptops-and-pc?utf8=%E2%9C%93&search%5Bmanufacturer_id_eq_any%5D%5B%5D=19&search%5Bprice_range_anya%5D%5B%5D=">Lenovo</a></li>
                                    <li><a href="http://www.esybuy.com/t/it-and-software/laptops-and-pc?utf8=%E2%9C%93&search%5Bmanufacturer_id_eq_any%5D%5B%5D=8&search%5Bprice_range_anya%5D%5B%5D=">Toshiba</a></li>
                                    <li><a href="http://www.esybuy.com/t/it-and-software/laptops-and-pc">View All</a></li>
                                </ul>
                                <div class="second_menu">
                                    <h3><a href="http://www.esybuy.com/t/it-and-software/accessories">Computer Accessories</a></h3>
                                    <ul>
                                        <li><a href="http://www.esybuy.com/t/it-and-software/software">Softwares & Antivirus</a></li>
                                        <li><a href="http://www.esybuy.com/t/it-and-software/accessories/hard-disk">External hard drive</a></li>
                                        <li><a href="http://www.esybuy.com/t/accessories/it-accessories/mouse">Mouse & Keyboard</a></li>
                                        <li><a href="http://www.esybuy.com/t/it-and-software/accessories/routers">Wifi Routers</a></li>
                                        <li><a href="http://www.esybuy.com/t/it-and-software/accessories/headset">Headphone</a></li>
                                        <li><a href="http://www.esybuy.com/t/it-and-software/accessories/flash-drive">Flash drive</a></li>
                                        <li><a href="http://www.esybuy.com/t/it-and-software/accessories/speaker">Computer speakers</a></li>
                                        <li><a href="http://www.esybuy.com/t/it-and-software/accessories/printer-and-scanner">Printers & Scanners</a></li>
                                        <li><a href="http://www.esybuy.com/t/it-and-software/accessories/laptop-bags">Laptop Bags</a></li>

                                        <li><a href="http://www.esybuy.com/t/it-and-software/accessories">View All</a></li>
                                    </ul>
                                </div>
                                <div class="third_menu">
                                    <p>
                                        <h3><a href="http://www.esybuy.com/t/audio-and-video/tv">Television</a></h3>
                                        <ul>
                                            <li><a href="http://www.esybuy.com/t/audio-and-video/tv?utf8=%E2%9C%93&search%5Bmanufacturer_id_eq_any%5D%5B%5D=15&search%5Bprice_range_anya%5D%5B%5D=">Samsung</a></li>
                                            <li><a href="http://www.esybuy.com/t/audio-and-video/tv?utf8=%E2%9C%93&search%5Bmanufacturer_id_eq_any%5D%5B%5D=10&search%5Bprice_range_anya%5D%5B%5D=">LG</a></li>
                                            <li><a href="http://www.esybuy.com/t/audio-and-video/tv?utf8=%E2%9C%93&search%5Bmanufacturer_id_eq_any%5D%5B%5D=14&search%5Bprice_range_anya%5D%5B%5D=">Sony </a></li>
                                            <li><a href="http://www.esybuy.com/t/audio-and-video/tv">View All</a></li>

                                        </ul>
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <h3><a href="http://www.esybuy.com/t/audio-and-video">Audio Video</a></h3>
                                <ul>
                                    <li><a href="http://www.esybuy.com/t/audio-and-video/home-theatre">Home Theater & Speaker</a></li>
                                    <li><a href="http://www.esybuy.com/t/accessories/audio-and-video/headphone">Headphones</a></li>
                                    <li><a href="http://www.esybuy.com/t/accessories/audio-and-video/mp3-and-mp4-player">MP3 & MP4 Players</a></li>
                                    <li><a href="http://www.esybuy.com/t/audio-and-video">View All</a></li>
                                </ul>
                                <div class="second_menu">
                                    <h3><a href="http://www.esybuy.com/t/audio-and-video/camera">Camera</a></h3>
                                    <ul>
                                        <li><a href="http://www.esybuy.com/t/audio-and-video/camera/digital-camera">Digital Cameras</a></li>
                                        <li><a href="http://www.esybuy.com/t/audio-and-video/camera/dslr-camera">DSLR Cameras</a></li>
                                        <li><a href="http://www.esybuy.com/t/audio-and-video/camera/handy-camera">Handy Cameras</a></li>
                                        <li><a href="http://www.esybuy.com/t/audio-and-video/camera/sports-camera">Sports Cameras</a></li>

                                        <li><a href="http://www.esybuy.com/t/audio-and-video/camera">View All</a></li>
                                    </ul>
                                </div>
                                <div class="third_menu">
                                    <p>
                                        <h3><a href="http://www.esybuy.com/t/accessories/camera">Camera Accessories</a></h3>
                                        <ul>
                                            <li><a href="http://www.esybuy.com/t/accessories/camera/lens">Lenses & Flash</a></li>
                                            <li><a href="http://www.esybuy.com/t/accessories/camera/memory-card">Camera Memory Card</a></li>
                                            <li><a href="http://www.esybuy.com/t/accessories/camera/camera-bags">Camera Bags </a></li>
                                            <li><a href="http://www.esybuy.com/t/accessories/camera">View All</a></li>

                                        </ul>
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <h3><a href="http://www.esybuy.com/t/appliances">Appliances</a></h3>
                                <ul>
                                    <li><a href="http://www.esybuy.com/t/appliances/home-appliances">Home Applainces</a></li>
                                    <li><a href="http://www.esybuy.com/t/appliances/kitchen-appliances">Kitchen Applianes</a></li>
                                    <li><a href="http://www.esybuy.com/t/appliances">View All</a></li>
                                </ul>
                                <div class="second_menu">
                                    <h3><a href="#">Personal Care</a></h3>
                                    <ul>
                                        <li><a href="http://www.esybuy.com/t/appliances/personal-care/trimmer-and-shaver">Trimmers & Shaver</a></li>
                                        <li><a href="http://www.esybuy.com/t/appliances/personal-care/health-scale-and-monitors">Health</a></li>
                                        <li><a href="http://www.esybuy.com/t/appliances/personal-care/dental-care">Dental Care</a></li>


                                        <li><a href="#">View All</a></li>
                                    </ul>
                                </div>
                                <div class="third_menu">
                                    <p>
                                        <h3><a href="http://www.esybuy.com/t/games">Games</a></h3>
                                        <ul>
                                            <li><a href="http://www.esybuy.com/t/games/game-console">Gaming Console</a></li>
                                            <li><a href="http://www.esybuy.com/t/games/play-station">Play Station</a></li>
                                            <li><a href="http://www.esybuy.com/t/games/xbox">Xbox</a></li>
                                            <li><a href="http://www.esybuy.com/t/games/video-games">Gaming CDs</a></li>
                                            <li><a href="http://www.esybuy.com/t/games/accessories">Gaming Accessories</a></li>
                                            <li><a href="http://www.esybuy.com/t/games">View All</a></li>

                                        </ul>
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-4">

                                <div class="menu_drop_rgt">
                                    <img src="images/Basic_image/mobile.jpg" alt="image06" />
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Men<i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu">
                <li>
                    <div class="row">
                        <div class="container">
                            <div class="col-sm-2">
                                <h3><a href="http://www.esybuy.com/t/fashion/men/clothing">Clothing</a></h3>
                                <ul>
                                    <li><a href="http://www.esybuy.com/t/fashion/men/clothing/shirts">Shirts</a></li>
                                    <li><a href="http://www.esybuy.com/t/fashion/men/clothing/t-shirts">T-shirts</a></li>
                                    <li><a href="http://www.esybuy.com/t/fashion/men/clothing/active-wear">Active Wear</a></li>
                                    <li><a href="http://www.esybuy.com/t/fashion/men/clothing">View All</a></li>

                                </ul>
                                <div class="second_menu">
                                    <h3><a href="http://www.esybuy.com/t/fashion/men/accessories">Men Accessories</a></h3>
                                    <ul>
                                        <li><a href="http://www.esybuy.com/t/fashion/men/accessories/wallet">Wallets</a></li>
                                        <li><a href="http://www.esybuy.com/t/fashion/men/accessories/cufflinks">Cufflinks</a></li>
                                        <li><a href="http://www.esybuy.com/t/fashion/men/accessories/bracelet">Bracelets</a></li>
                                        <li><a href="http://www.esybuy.com/t/fashion/men/accessories/caps">Caps</a></li>
                                        <li><a href="http://www.esybuy.com/t/fashion/men/accessories/tie">Neck Tie</a></li>
                                        <li><a href="http://www.esybuy.com/t/fashion/men/accessories">View All</a></li>
                                    </ul>
                                </div>
                                <div class="third_menu">
                                    <p>
                                        <h3><a href="http://www.esybuy.com/t/fashion/men/watches">Watches</a></h3>
                                        <ul>
                                            <li><a href="http://www.esybuy.com/t/fashion/men/watches/sports-watch">Sports Watches</a></li>
                                            <li><a href="http://www.esybuy.com/t/fashion/men/watches/casual-watch">Casual Watches</a></li>
                                            <li><a href="http://www.esybuy.com/t/fashion/men/watches/luxury-watch">Luxury Watches</a></li>
                                            <li><a href="http://www.esybuy.com/t/fashion/men/watches/couple-watch">Couples Watch</a></li>

                                            <li><a href="http://www.esybuy.com/t/fashion/men/watches">View All</a></li>

                                        </ul>
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <h3><a href="http://www.esybuy.com/t/fashion/men/perfumes">Perfumes</a></h3>
                                <ul>
                                    <li><a href="http://www.esybuy.com/t/fashion/men/perfumes/davidoff">Davidoff</a></li>
                                    <li><a href="http://www.esybuy.com/t/fashion/men/perfumes/lacoste">Lacoste</a></li>
                                    <li><a href="http://www.esybuy.com/t/fashion/men/perfumes/calvin-klein">Calvin Klein</a></li>
                                    <li><a href="http://www.esybuy.com/t/fashion/men/perfumes/gucci">Gucci</a></li>
                                    <li><a href="http://www.esybuy.com/t/fashion/men/perfumes/hugo-boss">Hugo Boss</a></li>
                                    <li><a href="http://www.esybuy.com/t/fashion/men/perfumes">View All</a></li>

                                </ul>
                                <div class="second_menu">
                                    <h3><a href="http://www.esybuy.com/t/fashion/men/eye-wear">Eye wear</a></h3>
                                    <ul>
                                        <li><a href="http://www.esybuy.com/t/fashion/men/eye-wear/sunglasses">Sunglasses</a></li>
                                        <li><a href="http://www.esybuy.com/t/fashion/men/eye-wear">View All</a></li>
                                    </ul>
                                </div>
                                <div class="third_menu">
                                    <p>
                                        <h3><a href="http://www.esybuy.com/t/fashion/men/bags">Bags</a></h3>
                                        <ul>
                                            <li><a href="http://www.esybuy.com/t/fashion/men/bags/sports-bags">Sports Bags</a></li>
                                            <li><a href="http://www.esybuy.com/t/fashion/men/bags/travel-bags">Travel bags</a></li>
                                            <li><a href="http://www.esybuy.com/t/fashion/men/bags/laptop-bags">Laptop Bags</a></li>

                                            <li><a href="http://www.esybuy.com/t/fashion/men/bags">View All</a></li>

                                        </ul>
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <h3><a href="http://www.esybuy.com/t/fashion/men/footwear">Footwear</a></h3>
                                <ul>
                                    <li><a href="http://www.esybuy.com/t/fashion/men/footwear/sports-shoes">Sports Shoes</a></li>
                                    <li><a href="">Sports shoes</a></li>
                                    <li><a href="http://www.esybuy.com/t/fashion/men/footwear">View All</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-4">

                                <div class="menu_drop_rgt">
                                    <img src="images/Basic_image/Esybuy-menu.jpg" alt="image06" />
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Women<i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu">
                <li>
                    <div class="row">
                        <div class="container">
                            <div class="col-sm-2">
                                <h3><a href="http://www.esybuy.com/t/fashion/women/clothing">Clothing</a></h3>
                                <ul>
                                    <li><a href="http://www.esybuy.com/t/fashion/women/clothing/dress">Dresses</a></li>
                                    <li><a href="http://www.esybuy.com/t/fashion/women/clothing/abaya-and-jalabiya">Abaya & Jalabiya</a></li>
                                    <li><a href="#">Party Wear</a></li>
                                    <li><a href="http://www.esybuy.com/t/fashion/women/clothing/jumpsuits-and-playsuits">Jumpsuits & Playsuits</a></li>
                                    <li><a href="http://www.esybuy.com/t/fashion/women/clothing/tops-and-blouse">Tops & Blouse</a></li>
                                    <li><a href="http://www.esybuy.com/t/fashion/women/clothing/lingerie-and-nigthwears">Lingerie & Nigthwears</a></li>
                                    <li><a href="http://www.esybuy.com/t/fashion/women/clothing/active-wear">Active Wear</a></li>
                                    <li><a href="http://www.esybuy.com/t/fashion/women/clothing/daily-wear">Daily wear</a></li>
                                    <li><a href="http://www.esybuy.com/t/fashion/women/clothing/casual-wear">Casual Wear</a></li>
                                    <li><a href="http://www.esybuy.com/t/fashion/women/clothing/pants-and-leggings">Pants & Leggings</a></li>
                                    <li><a href="http://www.esybuy.com/t/fashion/women/clothing/skirt">Skirts</a></li>
                                    <li><a href="http://www.esybuy.com/t/fashion/women/clothing/cardigans-and-sweaters">Cardigans & Sweaters</a></li>
                                    <li><a href="http://www.esybuy.com/t/fashion/women/clothing/tunic">Tunic</a></li>
                                    <li><a href="http://www.esybuy.com/t/fashion/women/clothing/kurti">Kurti</a></li>
                                    <li><a href="http://www.esybuy.com/t/fashion/women/clothing/gowns-and-maxi">Gowns & Maxi</a></li>
                                    <li><a href="http://www.esybuy.com/t/fashion/women/clothing">View All</a></li>

                                    <div class="second_menu">
                                        <h3><a href="http://www.esybuy.com/t/fashion/women/footwear">Footwear</a></h3>
                                        <ul>
                                            <li><a href="http://www.esybuy.com/t/fashion/women/footwear/sports-shoes">Sports Shoes</a></li>
                                            <li><a href="http://www.esybuy.com/t/fashion/women/footwear/fashion-footwear">Fashion Footwear</a></li>
                                            <li><a href="http://www.esybuy.com/t/fashion/women/footwear">View All</a></li>
                                        </ul>
                                    </div>
                                    <div class="third_menu">
                                        <h3><a href="http://www.esybuy.com/t/fashion/women/eye-wear">Eye wear</a></h3>
                                        <ul>
                                            <li><a href="http://www.esybuy.com/t/fashion/women/eye-wear/sunglasses">Sunglasses</a></li>
                                        </ul>
                                        <li><a href="http://www.esybuy.com/t/fashion/women/eye-wear">View All</a>
                                    </div>

                            </div>
                            <div class="col-sm-2">
                                <h3><a href="http://www.esybuy.com/t/fashion/women/accessories">Accessories</a></h3>
                                <ul>
                                    <li><a href="http://www.esybuy.com/t/fashion/women/accessories/fashion-accessories">Fashion Accessories</a></li>
                                    <li><a href="http://www.esybuy.com/t/fashion/women/accessories/jewellery">Jewellery</a></li>

                                    <li><a href="http://www.esybuy.com/t/fashion/women/accessories">View All</a></li>
                                </ul>
                                <div class="second_menu">
                                    <h3><a href="http://www.esybuy.com/t/fashion/women/bags">Bags</a></h3>
                                    <ul>
                                        <li><a href="http://www.esybuy.com/t/fashion/women/bags/handbags">Handbags</a></li>
                                        <li><a href="http://www.esybuy.com/t/fashion/women/bags/cluthes">Cluthes</a></li>
                                        <li><a href="http://www.esybuy.com/t/fashion/women/bags/laptop-bags">Laptop Bags</a></li>
                                        <li><a href="http://www.esybuy.com/t/fashion/women/bags/backpacks">Backpacks</a></li>
                                        <li><a href="http://www.esybuy.com/t/fashion/women/bags/travel-bags">Travel Bags</a></li>
                                        <li><a href="http://www.esybuy.com/t/fashion/women/bags/sports-bags">Sports Bags</a></li>

                                        <li><a href="http://www.esybuy.com/t/fashion/women/bags">View All</a></li>
                                    </ul>
                                </div>
                                <div class="third_menu">
                                    <h3><a href="http://www.esybuy.com/t/fashion/women/kids">Kids</a></h3>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <h3><a href="http://www.esybuy.com/t/fashion/women/watches">Watches</a></h3>
                                <ul>
                                    <li><a href="http://www.esybuy.com/t/fashion/women/watches/sports-watch">Sports Watches</a></li>
                                    <li><a href="http://www.esybuy.com/t/fashion/women/watches/casual-watch">Casual watches</a></li>
                                    <li><a href="http://www.esybuy.com/t/fashion/women/watches/luxury-watch">Luxury Watches</a></li>
                                    <li><a href="http://www.esybuy.com/t/fashion/women/watches/trendy-watch">Trendy Watches</a></li>
                                    <li><a href="http://www.esybuy.com/t/fashion/women/watches/bling-watch">Bling Watches</a></li>
                                    <li><a href="http://www.esybuy.com/t/fashion/women/watches/couples-watch">Couples Watch</a></li>
                                    <li><a href="http://www.esybuy.com/t/fashion/women/watches/classic-watch">Classic Watch</a></li>
                                    <li><a href="http://www.esybuy.com/t/fashion/women/watches">View All</a></li>
                                </ul>

                                <div class="second_menu">
                                    <h3><a href="http://www.esybuy.com/t/fashion/women/perfumes">Perfumes</a></h3>
                                    <ul>
                                        <li><a href="http://www.esybuy.com/t/fashion/women/perfumes/davidoff">Davidoff</a></li>
                                        <li><a href="http://www.esybuy.com/t/fashion/women/perfumes/lacoste">Lacoste</a></li>
                                        <li><a href="http://www.esybuy.com/t/fashion/women/perfumes/tommy-hilfiger">Tommy Hilfiger</a></li>
                                        <li><a href="http://www.esybuy.com/t/fashion/women/perfumes/gianni-versace">Versace</a></li>
                                        <li><a href="http://www.esybuy.com/t/fashion/women/perfumes/clinique">Clinique</a></li>
                                        <li><a href="http://www.esybuy.com/t/fashion/women/perfumes/elizabeth-arden">Elizabeth Arden</a></li>
                                        <li><a href="http://www.esybuy.com/t/fashion/women/perfumes/moschino">Moschino </a></li>
                                        <li><a href="http://www.esybuy.com/t/fashion/women/perfumes">View All</a></li>
                                    </ul>

                                </div>
                                <div class="third_menu">

                                </div>

                            </div>
                            <div class="col-sm-6">

                                <div class="menu_drop_rgt">
                                    <img src="images/Basic_image/women.png" alt="image06" height="290px" />
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Esydeals<i class="fa fa-angle-down"></i></a>
        </li>
        <li class="scroll_search">
            <input type="text" class="header_search" autocomplete="off" placeholder="Search">
            <input type="button" class="search_butt">
        </li>
    </ul>
</div>