@model Orbio.Web.UI.Areas.Admin.Models.Customers.NewletterSubscribersModel 

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
    ViewBag.Title = "NewsletterSubscribers";
}

<div class="container">
    <div class="main_edit_order" style="padding-bottom :15px">
        <span class="edit_order_details"><span class="shipmen_icon"></span><a href="">Newsletter Subscribers</a></span>
        <span class="back_to_order" style="padding-top:0px;width:22%">
            <a href="@Url.Action("Exporttocsv","Customer")"><input type="button" value="Export to CSV" class="add_cat_button" style="float:left"></a>
            @*</span>*@
            @using (Html.BeginForm("ImportFromCSV", "Customer", FormMethod.Post, new {@id="fileupload", enctype = "multipart/form-data" }))
            {
    <input type="file" class="filestyle" data-input="false" id="filestyleupload" name="importcsvfile" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);" />
    <div class="bootstrap-filestyle input-group">
        <span class="group-span-filestyle " tabindex="0">
            <label for="filestyleupload">
                <span class="delete_cat_button" style="float:right;margin-left:10px;">Import from CSV</span>
            </label>
        </span>
            </div>
            }
        </span>
</div>
    <div class="col-md-12 order_list" style="border-radius: 10px;margin-left: 11px;width:98%;height:60px">
        @using (Html.BeginForm("NewsletterSubscribers", "Customer", FormMethod.Post))
        {
            <div class="col-md-2 colmd" style="width:6%"><label style="margin-top:5px">Email:</label></div>
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.Search, new { @class = "start_order_date_email" })
            </div>
            <div class="billing_address_text" style="padding-top: 2px;">
                <input type="submit" class="search_order_list" value="SEARCH">
            </div>
        }
    </div>

    <div class="col-md-12" style=" margin-bottom: 34px;background-color: #fff;margin-top: 10px;width:100%">
       @Html.Action("NewsletterSubscribersList")
    </div>
</div>


@section scripts{

<script>
        $("#filestyleupload").change(function (e) {
            var data = new FormData();
            var files = $("#filestyleupload").get(0).files;
            if (files.length > 0) {
                data.append("UploadedFile", files[0]);
            }
            $.ajax({
                type: "POST",
                url: '@Url.Action("ImportFromCSV", "Customer")',
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    location.reload();
                }
            });
        });

</script>

}

