@model List<Orbio.Web.UI.Areas.Admin.Models.Customers.RegisteredCustomerReportLineModel>
@{
    Layout = null;
    var count = 1;
}
<table class="item_admin_order" id="tableData">
    <thead>
    <td>PERIOD</td>
    <td>COUNT</td>
    </thead>
    <tbody>
        @foreach (var rcr in this.Model)
        {
           if (count == 1)
            {
                @:<tr class="first_row">
                 count++;
            }
            else
            {
                @:<tr class="second_row">
                 count = 1;
            }
            <td class="align_center">@rcr.Period</td>
            <td class="align_center">@rcr.Customers</td>
        @:</tr>
        }
    </tbody>
</table>

