@model List<Orbio.Web.UI.Areas.Admin.Models.Customers.RegisteredCustomerReportLineModel>
@{
    Layout = null;
}
<table class="order_total_main_table" id="tableData">
    <thead>
    <td style="background-color: #f1eff0;color: #2e2e2e;font-size: 13px;">PERIOD</td>
    <td style="background-color: #f1eff0;color: #2e2e2e;font-size: 13px;">COUNT</td>
    </thead>
    <tbody>
        @foreach (var rcr in this.Model)
        {
            <tr>
                <td class="align_center">@rcr.Period</td>
                <td class="align_center">@rcr.Customers</td>
            </tr>
        }

    </tbody>
</table>
