   @{
        Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
    }
    @using (Html.BeginForm())
    {
        <div class="container">
            <div class="main_edit_order">
                <span class="edit_order_details"><span class="edit_order_icon"></span>Shipments</span>
                <span class="back_to_order">
                <input type="submit" value="Print packaging slips(all)" class="add_cat_button" name="PrintPackagingSlipsAll">
                <input type="submit" value="Print packaging slips(selected)" class="add_cat_button" name="PrintPackagingSlips"></span>
            </div>

          
            <div class="tab-content tab_content_solutions" id="myTabContent">
                <div aria-labelledby="home-tab" id="info" class="tab-pane fade in active  " role="tabpanel">
                    @Html.Action("Search", "Shipment")
                        @Html.Action("ShipmentList", "Shipment")
                    </div>
            </div>
        </div>
       
    }
    @section scripts {
        <script>
            $(document).ready(function () {
                // create DateTimePicker from input HTML element
                $("#StartDate").kendoDatePicker();
                $("#EndDate").kendoDatePicker();
            });   </script>

        <script type="text/javascript">
            $(document).ready(function () {
                $(".btn_collapse").accordion({
                    collapsible: true,
                    active: false
                }).on("click", "h3.ui-accordion-header", function (e) {
                    $("h3.ui-accordion-header").each(function (i, el) {
                        $(this).find(".panel-icon").text($(el).is(".ui-state-active") ? "-" : "+")
                    })
                });

            });


        </script>

        <script type="text/javascript">
            $('#chkbx').click(function () {
                if (this.checked) {
                    // Iterate each checkbox
                    $('#chkbxshipment').each(function () {
                        this.checked = true;
                    });
                }
                else {
                    $('#chkbxshipment').each(function () {
                        this.checked = false;
                    });
                }
            });

        </script>

        <script language="javascript" type="text/javascript">
            $(document).ready(function () {
                var infoForm = $("#infoForm");
                $(document).on("click", "#contentPager a[href]", function () {
                    $.ajax({
                        data: infoForm.serialize(),
                        url: $(this).attr("href"),
                        cache: false,
                        type: "GET",
                        success: function (data) {
                            $('#shipList').html(data);
                        }
                    });
                    return false;
                });
            });
    </script>
}
    
