@model Orbio.Web.UI.Areas.Admin.Models.Attribute.ProductAttributeModel

    <div class="form-group">
        <label>Name : </label>
        @Html.TextBoxFor(m => m.Name, new { @class = "add_product_attr_name" })
    </div>
    <div class="form-group">
        <label class="description_label_add_prdct"> Description : </label>
        @Html.TextAreaFor(m => m.Description, new { @class = "description_product_attr" })
    </div>

