@model Orbio.Web.UI.Areas.Admin.Models.Attribute.ProductAttributeModel

<div class="col-md-9 colmd1 tabcustomer ">
    <div class="tab-content ">
        <div role="tabpanel" class="tab-pane in active" id="standard">
            <div class="col-md-12 product-specification">
                <div class="col-md-12">
                    <div class="col-md-3"><label> Name:</label></div>
                    <div class="col-md-3">@Html.TextBoxFor(m => m.Name, new { @class = "produtxt" })</div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3"><label> Description:</label></div>
                    <div class="col-md-9">
                        @Html.TextAreaFor(m => m.Description, new { @class = "produtxt" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
