@using Orbio.Web.UI.Areas.Admin.Models.Attribute

@model CheckoutAttributeModel

@{
    ViewBag.Title = "AddOrEditCheckoutAttribute";
}

<section class="wp-request wp-checkout-create">
    <div class="container">
        <div class="catalog-bulk col-md-12 ">
            <div class="pull-left">
                <label class="gift-product"></label>
                @if(Model.Id!=0)
                { 
                <h1>ADD NEW CHECKOUT ATTRIBUTE<a href="@Url.Action("GetCheckoutAttribute","Attribute")">(back to checkout attribute list)</a></h1>
                }
                else
                {
                    <h1>EDIT CHECKOUT ATTRIBUTE<a href="@Url.Action("GetCheckoutAttribute","Attribute")">(back to checkout attribute list)</a></h1>
                }
            </div>
        </div>
        
        @using(Html.BeginForm("SaveCheckoutAttribute","Attribute",FormMethod.Post))
        { 
        <div class="col-md-12">
            <div class="pull-right">
                @if(Model.Id!=0)
                { 
                <div class="options">
                <input type="submit" value="Save" class=" Sbut   ssbut1">
                    <a href="@Url.Action("DeleteCheckoutAttribute", "Attribute", new { Id=Model.Id })"><input type="button" value="Delete" class=" Sbut   ssbut1"></a>
                </div>
                }
                else
                {
                    <div class="options">
                        <input type="submit" value="Save and Continue Edit" class=" Sbut   ssbut1">
                        <a href="@Url.Action("DeleteCheckoutAttribute", "Attribute", new { Id=Model.Id })"><input type="button" value="Delete" class=" Sbut   ssbut1" onclick=" return confirm('Are You Sure'); "></a>
                    </div>
                }
    </div>
        </div>
        <div class="container">
            <div class="col-md-12 colmd12 ">
                <div class="col-md-3 tabcustomer" style="padding-left:0px;">
                    <ul class="nav  nav-stacked product-info">
                        <li class="active"><a href="#attributeinfo" role="tab" data-toggle="tab">ATTRIBUTE INFO</a></li>
                        <li><a href="#option" role="tab" data-toggle="tab">ATTRIBUTE VALUES</a></li>
                    </ul>
                </div>
                <div class="col-md-9 tabcustomer ">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane in active" id="attributeinfo">

                           @{
                               Html.RenderPartial("CheckoutAttribute", this.Model);
                           }
                        </div>
                        <div role="tabpanel" class="tab-pane in " id="option">
                            @{
                                if (Model.Id != 0)
                                {
                                    Html.RenderPartial("CheckoutAttributeValue", this.Model);
                                }
                                else
                                {
                                    <label>You need to save before adding a value</label>
                                }
                            }
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
        </div>
</section>

