@model Orbio.Web.UI.Areas.Admin.Models.Attribute.ProductAttributeModel

@{
    ViewBag.Title = "CreateOrEditProductAttribute";
}

<section class="wp-request wp-product-attr-create">
    @using (Html.BeginForm("AddOrUpdateProductAttribute", "Attribute", FormMethod.Post, new { }))
    { 
        @Html.HiddenFor(m => m.Id, new { Value=Model.Id })
    <div class="container">
        <div class="catalog-bulk col-md-12" style="padding-left:0px;">
            <div class="pull-left">
                <label class="gift-product"></label>
                @if (Model.Id == 0)
                {
                    <h1>ADD A NEW PRODUCT ATTRIBUTE</h1>
                }
                else
                {
                    <h1>EDIT PRODUCT ATTRIBUTE<a href="@Url.Action("ProductAttribute", "Attribute")">(back to product attribute list)</a></h1>
                }
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12">
            <div class="pull-right">
                <div class="options">
                    <input type="submit" value="Save" class=" Sbut   ssbut1">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12 ">
            <div class="col-md-3 tabcustomer " style="padding-left:0px;">
            </div>
            @{
                 Html.RenderPartial("_AddOrEditProductAttribute", this.Model);
            }
        </div>
    </div>
    }
</section>

