@model List<Orbio.Web.UI.Areas.Admin.Models.Attribute.ProductAttributeModel>

@{
    ViewBag.Title = "ProductAttribute";
}

<section class="wp-bestseller">
    <div class="container">
        <div class="catalog-bulk col-md-12" style="padding-left:0px;">
            <div class="pull-left">
                <label class="product-attr"></label>
                <h1>PRODUCT ATTRIBUTES</h1>
            </div>
            <div class="pull-right"><a href="product-attribute-create.html"><input type="button" value="Add New" class="Sbut  ssbut1"></a></div>
        </div>
    </div>
    <div class="container">
        <div class="table-home">
            <div class="col-md-12">
                <div class="table-responsive best-seller-table">
                    <table id="tableData1" class="table table-bordered table-striped ">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Edit </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr style="display: table-row;">
                                    <td>@item.Name</td>
                                    <td><label class="edit"></label></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="pull-left1"><input type="button" class="but-refresh"></div>
                </div>
            </div>
        </div>
    </div>
</section>


