@model Orbio.Web.UI.Areas.Admin.Models.Attribute.SpecificationAttributeModel

<div class="col-md-12 add_cart_left_side edit_checkout_attr_main">
        <div class="form-group row" style="margin-top:10px">
            @Html.HiddenFor(m => m.Id, new { Value = Model.Id })
            <div class="col-md-2"><label>Name : </label></div>
            <div class="col-md-4">@Html.TextBoxFor(m => m.Name, new { @class = "edit_text_checkout", required = "required" })</div>
        </div>
       <div class="form-group row">
            <div class="col-md-2"><label>Display order : </label></div>
            <div class="col-md-4">@Html.TextBoxFor(m => m.DisplayOrder, new { @class = "edit_text_checkout", @type = "number" })</div>
        </div>
</div>