
@{
    ViewBag.Title = "Index";
}
<section>
    <div class="container">
        <div class="best-seller catalog-bulk col-md-12">
            <label class="stores-icon"></label>
            <h1>STORE STATISTICS</h1>
        </div>
    </div>

    <div class="container">

        @*<div class="chart">
            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>*@
    @Html.Action("OrderAverageReport", "Order")
        <div class="table-home">
            <div class="col-md-6 col-sm-6 first">
                @Html.Action("OrderIncompleteReport", "Order")
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="main-table table-responsive">
                    <h2>REGISTERED CUSTOMERS</h2> <span class="refbutt"></span>
                    @Html.Action("ReportRegisteredCustomers", "Customer")
                    </div>
                </div>
        </div>
    </div> <!-- /container -->
</section>


