
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}
<section>
    <div class="container">
        <div class="best-seller catalog-bulk col-md-12">
            <label class="stores-icon"></label>
            <h1>SALES</h1>
        </div>
    </div>

    <div class="container">

        @*<div class="chart">
            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>*@
    @Html.Action("OrderAverageReport", "Order")
        <div class="table-home">
            <div class="col-md-6 col-sm-6 first">
                @Html.Action("OrderIncompleteReport", "Order")
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="main_edit_order">
                    <span class="edit_order_details"><span class="edit_order_icon"></span><a href="" class="add_new_check">REGISTERED CUSTOMERS</a></span>
                    <!-- <span class="back_to_order"><input type="button" value="Save" class="add_cat_button"></span> -->
                </div>
                <div class="col-md-12">
                    @*<h2>REGISTERED CUSTOMERS</h2> <span class="refbutt"></span>*@
                    @Html.Action("ReportRegisteredCustomers", "Customer")
                </div>
                </div>
        </div>
    </div> <!-- /container -->
</section>
